/*
//could use extend to have a general pill shaped button builder
//which would be built upon with all the general kinds
//i.e. a mixin for general use
//		 a mixin for emphasized
//		 etc...
//
// overrode button variant for a bunch of states because it was forcing border shading that wasn't needed
// added .hoverer for displaying the buttons as they appear when hovered over
//*
*/

//This is a bootstrap mixin, completely unedited
.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:focus,
  &.focus {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 25%);
  }
  &:hover {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: @color;
      background-color: darken(@background, 17%);
          border-color: darken(@border, 25%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: @background;
          border-color: @border;
    }
  }
}


.pill-button-gen(@pill-color: @red; @button-font-size: @btn-font-size){

	@button-color: @pill-color;

	&:extend(.btn-gen);

  // .content-heavy is added to the body of some pages
  // It things and shrinks the text. Useful for pages that are wordy,
  // eg pages that are not landing pages like content#show
  //
  // See typography.less for more.
  .content-heavy & {
    font-weight: normal;
  }

	.button-variant(@button-color, @white-1, @button-color);
	background: 0;

	&:hover, &:active, &:focus, &:target, .hoverer&{
		border-color: @button-color;
		background-color: @button-color;
		color: @white-1;
		outline: none;

		&:active, &:focus{
			border-color: @button-color;
			background-color: @button-color;
			color: @white-1;
			outline: none;

		}
	}
}


//change to take in string and boost
.pill-button-emphasized(@pill-color: @red-5; @button-font-size: @btn-font-size){
	&:extend(.btn-gen);

  // .content-heavy is added to the body of some pages
  // It things and shrinks the text. Useful for pages that are wordy,
  // eg pages that are not landing pages like content#show
  //
  // See typography.less for more.
  .content-heavy & {
    font-weight: normal;
  }

	@button-color: @pill-color;

	.button-variant(@white-1, @button-color, @button-color);

	&:hover, &:active, &:focus, .hoverer& {
		background-color: darken(@button-color, 10%);
		border-color: darken(@button-color, 10%);
		outline: none;

		&:active, &:focus{
			background-color: darken(@button-color, 10%);
			border-color: darken(@button-color, 10%);
			outline: none;

		}
	}
}


//<<FLAG>> this can be removed when emphasized is expanded
.pill-button-flexible1(@pill-color: @red-5; @button-font-size: @btn-font-size){
	&:extend(.btn-gen);

	@button-color: @pill-color;

	.button-variant(@white-1, @button-color, @button-color);

	&:hover, &:active, &:focus, .hoverer& {
		border-color: darken(@button-color, 10%);
		background-color: darken(@button-color, 10%);
		outline: none;

		&:active, &:focus{
			border-color: darken(@button-color, 10%);
			background-color: darken(@button-color, 10%);
			outline: none;

		}
	}

}



.pill-button-flexible2(@pill-color: @white-1, @button-font-size: @btn-font-size, @bg-color: @black-1){

	//may need text
	&:extend(.btn-gen);
	background: none;

	//TODO - As contrast requires knowledge of the background colour, perhaps just set the font to black with a low opacity level
	@font-bg-color: contrast(@bg-color, darken(@bg-color, 10%), lighten(@bg-color, 10%), 10%);

	.button-variant(@pill-color, @bg-color, @white-1);
	border-color: @pill-color;

	&:hover, &:active, &:focus, &.hoverer {

		background-color: @pill-color;
		color: @font-bg-color;
		border-color: @pill-color;
		outline: none;

	//	.button-variant(@font-bg-color, @pill-color, @white-1);

		&:active, &:focus{
			background-color: @pill-color;
			color: @font-bg-color;
			border-color: @pill-color;
			outline: none;

		}
	}
}

.pill-button-flexible2-redux(@pill-color: @white-1, @button-font-size: @btn-font-size, @bg-color: rgba(0,0,0,0)){

	//may need text
	&:extend(.btn-gen);
	color: @pill-color;

	//This doesn't work as the background of the button takes precedence over the background of the container
	//@black-opacity: rgba(0,0,0, 0.2);
	//@white-opacity: rgba(255,255,255, 0.2);
	////@font-bg-color: rgba(0,0,0, 0.1);
	//@font-bg-color: contrast(@bg-color, @black-opacity, @white-opacity, 1%);

	.button-variant(@white-1, @bg-color, @white-1);

	&:hover, &:active, &:focus, .hoverer& {

		background-color: @white-1;
		color: @font-bg-color;
		border-color: @white-1;
		outline: none;
	//	.button-variant(@font-bg-color, @pill-color, @white-1);

		&:active, &:focus{
			background-color: @white-1;
			color: @font-bg-color;
			border-color: @white-1;
			outline: none;
		}
	}
}

.pill-button-tertiary(){

	&:extend(.btn-gen);

	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);

	//TODO - As contrast requires knowledge of the background colour, perhaps just set the font to black with a low opacity level

	font-size: .875rem;
	.button-variant(@gray-7, @white-1, @gray-8);
	border-color: @white-1;

	&:hover, &:active, &:focus, .hoverer& {

		border-color: @white-1;
		background-color: @white-1;
		color: @gray-6;
		outline: none;
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);

		&:active, &:focus{
			background-color: @white-1;
			color: @gray-7;
			outline: none;
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
		}
	}
}

