//general typography setup details
<<<<<<< HEAD
.font_gen(@font-size: 1, @line-height: 1.125px, @letter-spacing: 0px, @font-weight: none, @font-family: "Istok web"){
=======
.font_gen(@font-size: @font-size-base, @line-height: @font-size-base*1.125, @letter-spacing: 0px, @font-weight: none, @font-family: "Istok web"){
>>>>>>> padraig-buttons
	font-family: @font-family;
	font-size: @font-size;
	letter-spacing: @letter-spacing;
	line-height: @line-height;
<<<<<<< HEAD
=======
	margin-top: 0px;
	font-weight: @font-weight;
>>>>>>> padraig-buttons
}
