//general typography setup details
.font_gen(@font-size: 1, @line-height: 1.125px, @letter-spacing: 0px, @font-weight: none, @font-family: "Istok web"){
	font-family: @font-family;
	font-size: @font-size;
	letter-spacing: @letter-spacing;
	line-height: @line-height;
}
