.headline-hr(@hrcolor: @red-1, @width: 48px, @height: 6px, @margins: 16px){
	width: @width;
	height: @height;
	background-color: @hrcolor;
	color: @hrcolor;
	margin-left: 0;
	margin-top: @margins;
	margin-bottom: @margins;
	border-radius: 4px;
	border: none;
}
