.headline-hr(@hrcolor: @red-1, @width: 3rem, @height: .375rem, @margins: 1rem){
	width: @width;
	height: @height;
	background-color: @hrcolor;
	color: @hrcolor;
	margin-left: 0;
	margin-top: @margins;
	margin-bottom: @margins;
	border-radius: .25rem;
	border: none;
}
