.header-text(@highlight-color: #3F4C4C){

	font-size: 1rem;
	font-weight: bold;
  display: block;//ie fill block
  margin: 0 auto;

	@media (min-width: 768px){
	  >a{
	    vertical-align: middle;
	    display: inline-block;
	    margin-top: 30px;
	    margin-bottom: 30px;
	    margin-left: 12px;
	    margin-right:12px;
	    padding: 0px;
	    color: #3F4C4C;
	    background-color: @white-1;
	    transition: all linear 150ms;


			&:hover, &:focus{
		    //background-color: #FFFF00;
		    color: @highlight-color;
				background-color: @white-1;
			}
		}
  }
}
