.headline-hr(@hrcolor: @red-1, @width: 4rem, @height: .5rem){
	width: @width;
	height: @height;
	background-color: @hrcolor;
	margin-left: 0;
	margin-top: .25rem;
	margin-bottom: .5rem;
	border-radius: .25rem;
}
