//<<FLAG>> not needed in final design

.module-head(@image: '/images/bg-testing.png'){
	background-image: url(@image);
  height: 466px;

  .module-content{
  	.make-md-column-offset(6);
  	.make-md-column(5);
  	vertical-align: middle;
  	min-height: 100px;//<<FLAG, remove min height and width>>
  	min-width: 200px;
  	&:extend(.vertically-center);
  }


}


/*<<TODO>> The below class collection is not to be considered part of
the system. This was the only way an overflow could be completed on the large module while remaining
in the layout of the previous modules (i.e. a module within a row, rather than a module as a row)
*/
/*
.module-large-build(@image: '/images/bg-testing.png'){
  height: 670px;

  .module-content{
  	.make-md-column-offset(6);
  	.make-md-column(5);
  	vertical-align: middle;
  	background-color: rgba(255,255,255, 0.7);
  	min-height: 100px;
  	min-width: 200px;
  	//&:extend(.vertically-center);
  }

	padding: 40px;
	background-color: @gray-8;
	overflow: visible;
	&.withOverflowingBackground {
	   position: relative;
	   background-color: transparent;
		padding: 0px;
	}
	&.withOverflowingBackground::before {
	   content: " ";
	   position: absolute;
	   margin-left: -50%;
	   width: 150%;
	   height: 670px;
	   z-index: -1;
	   background-image: url(@image);
	   //background-size: cover;//temporarily removed
	   background-repeat: no-repeat;
	}

	&.withOverflowingBackground-right {
	   position: relative;
	   background-color: transparent;
		padding: 0px;
	}
	&.withOverflowingBackground-right::before {
	   content: " ";
	   position: absolute;
	   width: 150%;
	   height: 670px;
	   z-index: -1;
	   background-image: url(@image);
	   //background-size: cover;
	   background-repeat: no-repeat;
	}
}
*/

//This is the much simpler new one
.module-larger(@image){
  background-image: url(@image);
  height: 670px;
	//background-size: 75%;//temporarily changed from coverto highlight differences

	.module-content{
  	vertical-align: middle;
  	&:extend(.vertically-center);
  	//background-color: rgba(255,255,255, 0.7);
	}
}



/////////////////
//background reposition
//need to know image width
////////////////
///<<FLAG>> for removal
.position-background-left(@image-width){
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
		@bg-pos: ((@screen-sm-min - @image-width) / 4 ) - (@screen-sm-min * 0.3);

		background-position: bottom left @bg-pos;

	}
	@media (min-width: @screen-md-min) and (max-width: @screen-md-max){
		@bg-pos: ((@screen-md-min - @image-width) / 4 ) - (@screen-md-min *  0.15);

		background-position: bottom left @bg-pos;

	}
	@media (min-width: @screen-lg-min) and (max-width: 1500px){
		@bg-pos: ((@screen-lg-min - @image-width) / 4 ) - (@screen-lg-min *  0.05);

		background-position: bottom left @bg-pos;

	}
	@media (min-width: 1501px){
		@bg-pos: ( (1501px - @image-width) / 4 ) - (1501px *  0.05);

		background-position: bottom left @bg-pos;

	}
}
