---
layout: base.hbs
name: Student1
---






				<nav class="kiddom-head navbar-fixed-top nav-shadow">
					<div class="container">
				  	<div class="navbar-header">
				      <button href="#" type="button" class="navbar-toggle header-toggle-spacing" data-toggle="collapse" data-target=".navbar-collapse">
				      	<!-- TODO - JavaScript change glyphicon when opened -->
				        <span class="glyph-flip glyphicon glyphicon-chevron-down"></span>
				      </button>
				      <div class="navbar-brand">
					      <a class="navbar-brand-link" href="./home.html"><img src="images/logo-kiddom@2x.png" alt="KIDDOM"></a>
					    </div>
				  	</div>
				  	<div class="collapse navbar-collapse">
				  		<div class=" navbar-align-center">
					      <ul class="nav navbar-nav">
						      <li ><a class="teacher-link" href="./teachers.html">Teacher</a> </li>
						      <li ><a class="student-link" href="./students.html">Student</a> </li>
						      <li ><a class="admin-link" href="./academy.html">Admin</a></li>
						    </ul>
					    </div>
					    <div class="navbar-align-right">
					      <ul class="nav navbar-nav">
						      <li > <a class="login-link" href="#">Log in
						      	</a></li>
						      <!-- <<FLAG>>
						      	Difficulty styling the register button as an anchor tag resulted in this awkward solution
						      -->
									<li class="btn-pill-login visible-xs">
						      	<a href="#">Sign Up</a></li>
						      <li class="hidden-xs">
						      	<button class="btn-pill-register">Sign Up</button></li>
					      </ul>
				      </div>
				    </div>
					</div><!--/.nav-collapse-->
				</nav>
	<div class="container-fluid">
		{{> body }}
		<div class="row footer" id='footers'>
			<div class="container">
				<div class="row">
					<div class='col-sm-3 col-sm-push-3'>
				 		<div class="footer-list">
							<p class="guide-titles">Company</p>
							<ul>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Terms of use</a></li>
								<li><a href="#">Privacy</a></li>
							</ul>
						</div>
					</div>
					<div class='col-sm-3 col-sm-push-3'>
						<div class="footer-list">
							<p class="guide-titles">Resource Room</p>
							<ul>
								<li><a href="#">Teacher Voice Blog</a></li>
								<li><a href="#">Standards-Based Grading</a></li>
								<li><a href="#">Teaching Methodologies</a></li>
							</ul>
						</div>
					</div>
					<div class='col-sm-3 col-sm-push-3'>
						<div class="footer-list">
							<p class="guide-titles">Support</p>
							<ul>
								<li><a href="#">Teacher Guides</a></li>
								<li><a href="#">Help Desk</a></li>
							</ul>
						</div>
					</div>
					<div class='col-sm-3 col-sm-pull-9 logo-column'>
				 		<!-- LOGO -->
				 		<div class='row '>
				 			<div class="col-xs-12 footer-logo">
				 				<img src="images/logo-kiddom@2x.png" alt="kiddom-logo">
				 			</div>
				 			<div class='col-xs-12 social-media'>
				 				<a href="https://twitter.com/kiddomapp" target="_blank"><img src="images/footer-twitter.svg" alt="twitter-link"></a>
				 				<a href="https://facebook.com/kiddomapp" target="_blank"><img src="images/footer-facebook.svg" alt="facebook-link"></a>
				 			</div>
				 		</div>
					</div>
				</div>
				<div class="row copyright">
					<div class="col-sm-12">
					<!-- <<FLAG>> Seems more correct for this to be below all other content in the footer than just the left column-->
					©2015 Kiddom, Inc
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
