---
layout: base.hbs
---
<main id="main" class="app m-scene">
	<div class="post {{brightness}}">
		{{> navigation }}
		<div id="appcontainer" class="appcontainer">
			{{> header }}
			<div class="overlay"></div>
			<div id="appcontent" class="appcontent scene_element scene_element--fadeindown">
				<div class="content">
					{{> body }}
				</div>
				{{> footer }}
			</div>
		</div>
	</div>
</main>
