---
layout: base.hbs
name: Kiddom Styleguide
---




	<div class="container">
	  <div class="row">
			<div class="col-sm-12col-md-12 main">
	      <div class="row">
	      	<div class="col-md-12">
						{{> body }}
					</div>
				</div>
	    </div>
	  </div>
	</div>
</main>
