@import "mixins/mixins.less";
@import "typography.less";
@import "colors.less";
@import "variables/variables.less";
@import "buttons.less";
@import "inputs.less";
@import "headers.less";
@import "footers.less";
@import url(https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);


//the sidebar and guiding headlines (e.g. P.SMALL, USAGE CASES)
.guide-titles{
	.font_gen(@font-size-base, 1.111, -0.3px, bold);
	color: @gray-6;
	text-transform: uppercase;
	//need to sort out margin here

}
.guide-details{
	.font_gen(0.875rem, 1.111, -0.3px);
	color: @gray-6;
	text-transform: uppercase;
	//need to sort out margin here

}
