
//<<TODO>> Styling for icons, mobile alterations
.footer{
	//padding as specified
	padding-top: 50px;
	padding-bottom: 60px;

	.footer-list {
		padding-top: 8px;
			ul{
				list-style-type: none;
				padding-left:0;
				padding-top: 0;
				margin:0;
			}
			li{
				padding-bottom: 8px;
			}
			a, a:hover, a:active, a:focus{
				color: @black-1;
				text-decoration: none;
				font-size: .875rem;
			}
	}

	.copyright{
		padding-top: 0px;
		padding-left: 16px;
		font-size: .75rem;
		color: #DCE2E1;
		font-weight: bold;
	}


	.social-media{
		img{
			opacity: 50%;
		}
	}
	.footer-logo{
		img{
			height: 40px;
		}
	}
}
