
//<<TODO>> Styling for icons, mobile alterations
.footer{
	//padding as specified
	background-color: #f5f9f8;

	padding-top: 50px;
	padding-bottom: 60px;
	text-align:left;

	[class*="col-"]{
		margin-bottom: 16px;
	}



	.footer-list {
		padding-top: 8px;
			ul{
				list-style-type: none;
				padding-left:0;
				padding-top: 0;
				margin:0;
			}
			li{
				padding-bottom: 8px;
			}
			a, a:hover, a:active, a:focus{
				color: @gray-5;
				text-decoration: none;
				font-size: .875rem;
			}
	}

	.logo-column{
		text-align: center;

	}

	.copyright{
		.footer.logo-column;
		padding-left: 0px;
		font-size: .75rem;
		color: #DCE2E1;
		font-weight: bold;
	}


	.social-media{
		margin-top: 0px;
		img{
			opacity: 50%;
			width: 48px;
			margin-right: 4px;
		}
	}

	.footer-logo{
		img{
			height: 40px;
		}
	}

	//the sidebar and guiding headlines (e.g. P.SMALL, USAGE CASES)
	.guide-titles{
		font-family: 'Istok web';
		font-size: 1rem;
		letter-spacing: -0.3px;
		line-height: 1.111;
		margin-top: 0px;
		font-weight: bold;
		color: grey;
		text-transform: uppercase;
		//need to sort out margin here
	}
}

@media (min-width:768px){


	.footer{
		.social-media{
			padding-left: 16px;
			margin-top: 32px;
		}

		.copyright{
			padding-left: 8px;
		}

		.logo-column{
			text-align: left;
		}
	}
}
