/*
Both navbar layouts fit into the same html (w/e of one button...), media queries for screen size determine which to use
*/
@header-height: 80px;


//<<TODO>> Align first list in center

.desktop-nav{
	min-width: 761px;
	max-width: 1440px;
}

.navbar-brand{
	float: left;
  padding-top: 20px 0px;
  font-size: 1.25rem;
  line-height: 1.42857143rem;
  height: @header-height;
}

.navbar-brand-link{
  img{
  	height: 40px;
  }
}

.kiddom-head{
	height:@header-height;
	background-color: @gray-9;
}


////using 768px instead of 760px and 768 is the bootstrap standard
@media only screen and (max-width:767px){

	.kiddom-head{
		.container{
			padding: 0px;
		}

		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
		position: fixed;
		text-align: center;
		background-color: #3F4C4C;
    z-index: 1;

		.navbar .navbar-nav {
		  display: inline-block;
		  float: none;
		  background-color: #3F4C4C;
		}
		.navbar-nav{
			margin: auto -15px;

		}
		.navbar-toggle{
			padding: 16px;
		}
		.navbar-header{
			background-color: @white-1;
			margin-right: 0px;
			margin-left: 0px;
		}

		.navbar-brand{
			padding: 20px 20px;
		}
		.navbar .navbar-collapse {
		  text-align: center;
		  padding: 0 0 0 0;
		  position: relative;
		  z-level: 1;
		  border-top: none;
		}
		.nav > li{
		  vertical-align: center;
			border-bottom-style: solid;
			border-bottom-color: #637070;
		}
		.nav > li > a{
		  font-weight: bold;
		  color: @white-1;

			background-color: #3F4C4C;
		}
		.nav > li > a:hover{
			background-color: #293333;
			color: @white-1;
		}

		.navbar-toggle{
			margin-top: 15px;
			margin-right: 15px;
			colour:  #637070;
			outline-color: #637070;
			outline-width: 1px;
			outline-style: solid;
		}
	}
}
@media (min-width:768px){
	.nav{
		height: @header-height;
	}

	.mobile-header{
		min-width: 760px;
	}

	.kiddom-head{
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);

		background-color: @white-1;
		margin: 0 auto;
		padding-left: 0px;
		padding-right: 0px;

		.nav{
			text-align: center;
			background-color: @white-1;

			li> a {
				color: #3F4C4C;
			}
		}

		.navbar .navbar-nav {
		  display: inline-block;
		  float: none;
		  background-color: #3F4C4C;
		}

		.navbar-header{
			position: absolute;
			background-color: @white-1;
			width: 145px;//size of logo
		}
		.navbar-right{
			float: none;
			position: absolute;
			top: 0px;
			right: 15px;
		}

		.navbar .navbar-collapse {
		  padding: 0 0 0 0;
  		height: @header-height;
		}


		.navbar-collapse{
			text-align: right;
  		>.navbar-align-center{
  			text-align: center;
  			.navbar-nav{
  				float: none;
  				display: inline-block;
  			}
  		}
		}
		.nav hr{
			display: none;
		}
		.teacher-link{
				.header-text(#1DBAFF);
		}
		.student-link{
			.header-text(#8F80FF);
		}
		.admin-link{
			.header-text(#28E88C);
		}

		.btn-pill-login{
			.header-text();
		}
		.btn-pill-register{
			&:extend(.btn-gen);


			// <<FLAG>> <<TODO>> This button ideally needs to be styled to work with an anchor tag, currently only works for a button and therefore requires some messy solution(see xs-hidden in html)
			height: 40px;
			width: 120px;
	    border-radius: 40px;
	    font-size: 1rem;
	    font-weight: bold;
			background-color: @white-1;
			border-color: @gray-8;
			color: #FF6252;
			border-style: solid;
	    vertical-align: middle;
	    display: inline-block;

	    height: 32px;
	    margin-top: ((@header-height /2)-@font-size-root);
			&:hover, &:focus{
				outline: none;

				background-color: #FF6252;
				border-color: #FF6252;
				color: @white-1;
			}

			margin-right: 16px;
		}

	/* heree is the most recent anchor attempt
			.btn-pill-register{
				.btn-pill-login;
				margin-top: 16px;
				border-width: 2px;
				border-color: #EBF0EF;
				background-color: @white-1;
				border-radius: 40px;
				color: #FF6252;
				.header-text(@white-1);

				&:hover{
					background-color: #FF6252;
					border-color: #FF6252;
					colour: @white-1;
				}
			} */
	}
}
