/*

The current code has two different headers, one which is only visible when constrained to <768px, one which is only visible when >=768px
A rewrite of this could easily put the two into one with a media query, I'm sure (e.g. changing the buttons in the desktop header into links)

*/


.header1440{
	width: 1440px;
	height: 80px;

}

.header976{
	width: 976px;
	height: 80px;
}

.desktop-header{
	max-width: 1440px;
	min-width: 761px;
	padding-right: 10px;
	background-color: @white-1;
	padding-left: 0px;
}

.mobile-header{
	position: absolute;
	min-width: 500px;
	width: 760px;
}

//TODO - Nest all of this within nav-desktop
.teacher-link{
	.header-text(#1DBAFF);
}
.student-link{
	.header-text(#8F80FF);
}
.admin-link{
	.header-text(#28E88C);
}

.btn-pill-login{
	height: 40px;
	width: 100px;
	font-weight: bold;
}
.btn-pill-register{
	.btn-pill-login;
	margin-top: 16px;
	border-width: 2px;
	border-color: #EBF0EF;
	background-color: @white-1;
	border-radius: 40px;
	color: #FF6252;
	.header-text(@white-1);


	&:hover{
		background-color: #FF6252;
		border-color: #FF6252;
		colour: @white-1;
	}
}



.desktop-nav{
	min-width: 761px;
	max-width: 1440px;
}

.navbar-brand > img{
		height: 40px;
		margin-top: -10px;//<<TODO>> - Obviously not idea
}




.mobile{
		.nav{
			text-align: center;
			background-color: #3F4C4C;
		}
		.navbar .navbar-nav {
		  display: inline-block;
		  float: none;

		}

		.navbar-header{
			background-color: @white-1;
		}

		.navbar .navbar-collapse {
		  text-align: center;
		  padding: 0 0 0 0;
		}
		.nav > li{
		  vertical-align: center;
		}
		.nav > li > a{
		  font-weight: bold;
		  color: @white-1;

			background-color: #3F4C4C;
		}
		.nav > li > a:hover{
			background-color: #293333;
		}
		.nav hr{
			background-color: #637070;
			width: 90%;
			height: 1px;
			margin-top: 0;
			margin-bottom: 0;
			border: none;
		}
	}
