//<<FLAG>> consider removing a lot of this


.kiddom-forms{
	color: @gray-7;
	@border-color: @gray-8;
	@background-color: @gray-9;
	border-color: @border-color;
	// .k-form-text{

	// }

	// .k-form-select{

	// }

	// .k-form-checkbox{

	// }

	// .k-form-radio{

	// }


	&:active, &:focus{
		border-color: @blue-5;
		// outline-style: solid;
		// outline-width: 2px;
		// outline-color: @blue-5;
	}

	&:invalid{
		border-color: @red-5;
		color: @red-5;
		// outline-style: solid;
		// outline-width: 2px;
		// outline-color: @red-5;
	}

	///<<DISPLAY>>


	select[disabled]&{
		opacity: .6;
	}
	select[invalid]&{
		color: @red-5;
		option{
			color: @gray-6;
		}
	}
	option[invalid]{
		color: @red-5;
	}
	option[disabled]{
		color: @gray-8;
	}

	label[disabled]{
		color: lighten(@black-1, 25%);
	}
}


input[type=email]{
	font-weight: normal;
}
