
//a selection of fixed heights for rows, currently only 670 and 466 come from design specs


body{
	text-align: center;
	color: @gray-5;
}


//see media query section below for sm heights to override these on larger screens
.height-xs-950{
	height: 950px;
}
.height-xs-750{
	height: 750px;
}
.height-xs-700{
	height: 700px;
}
.height-xs-650{
	height: 670px;
}
.height-xs-600{
	height: 600px;
}
.height-xs-550{
	height: 560px;
}
.height-xs-500{
	height: 500px;
}
.height-xs-450{
	height: 450px;
}
.height-xs-400{
	height: 400px;
}
.height-xs-320{
	height: 320px;
}
.height-xs-vh{
	height: 100vh;

	&.vh-head{//cancelling out the default offset of body
		margin-top: -80px;
	}
}
.xs-margin-top-48{
	margin-top: 48px;
}
.xs-margin-top-72{
	margin-top: 72px;
}



.heading-text-sm-h2{
	//see media queries below for override //important
	font-size: @font-size-h3 !important;
	font-weight: bold;
	color: @gray-5;
	padding-top: 16px;
	/*//
	@media (min-width:768px){
		padding-top: 0;
		font-size: @font-size-h1 !important;
	}*/
}


//sm-lg override to this within media query below
.vertical-center-xs {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.splash-header{
	min-height: 80px;
	text-align: center;
	//	padding: @font-size-base 0;

	//<<FLAG>> not sure this should apply everywhere
	a.red-link{
		color: @red-5;
	}

	.text-holder{
		//<<FLAG>> text holder may not be needed for splash header
	}

	.heading-text{
		font-size: 1.70rem;
		font-weight: bold;
		padding: 16px 0;

		img{
			max-height: 70px;
			float: left;

		}
	/*//
		@media only screen and (min-width:768px){

			img{
				float: none;
			}
			font-size: @font-size-h1;
		}*/
	}
	.image-holder{
		text-align: center;
		padding: 16px 0;

		img{
			width:740px;
		}
	}

	.btn{
		margin: 16px;
	}

	&.initial-search{
		&:extend(.bg-color-blue-5);
		padding-top: 30vh;
		.heading-text{
			padding: 0px;
			color: white;
		}
		p{
			color: white;
		}
		input[type="text"]{
	    width: 100%;
	    height: 40px;
	    border-style: solid;
	    border-width: 1px;
	    color: @gray-6;
	    border-color: @gray-8;
	    border-radius: 6px;
	    padding: 8px;
	    margin: 4px 0px;
		}
		.btn{
			width: 80%;//media query for desktop
		}
	}
	&.search-results{
		>.container{
			//margin: auto -16px;
			>.row{
				margin-right: -16px;
				margin-left: -16px;
			}
		}
		.search-result{

			&:extend(.shadow-outline);

			background-color: @gray-9;
			margin: 8px  0px;
			max-height: 256px;
			text-align: left;
			.heading-text{
				font-size: 18px;
				line-height: 1.2;
				color: @gray-5;
				padding-bottom: 0px;
				height: 36px; //two lines
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.content{
				font-size: 14px;
				line-height: 1.3;
				overflow: hidden;
				max-height: 88px;//four lines
			}
			.tags{
				font-style: italic;
				font-size: 12px;
				max-height: 36px;//two lines
				overflow: hidden;
				color: @gray-7;
			}
			.assigner{
				background-color: @gray-9;
				text-align: center;
				bottom: 0px;
				height: 48px;
				font-size: 18px;
				padding: 0px;
				margin: 0px;
				color: @gray-7;
				border-top: 1px solid @gray-8;
				a{
					font-weight: bold;
					padding: 12px;
					display: block;
					height:100%;
					width: 100%;

					&:hover{
						text-decoration: none;
						color: @white-1;
						background-color: @blue-5;
					}
					span{
						font-size: 14px;
					}
				}
			}
		}

		.no-results{
			padding: 16px;
			margin: 0 -16px;
			&:extend(.bg-color-white);
			.subheading{
				font-size: 16px;
			}
			img{
				margin: 32px 0px;
			}
		}
	}
	&.one-result{
		.btn{
			margin: 8px 8px 8px 0px;
		}
		text-align: left;
		>.container{
			background-color: white;
		}
		.heading-text{
			font-size: 1.5rem;
			font-weight: bold;
			color: @gray-5;
			padding: 0px;
		}
		.heading-source{
			color: @gray-7;
			font-size: 1rem;
			font-style: italic;
			a{
				font-weight: bold;
				font-style: normal;
			}
		}
		.standards{
			.heading-text{
				font-size: 1.125rem;
				font-weight: bold;
				color: @gray-5;
			}
			.subheading-text{
				font-size: 1rem;
				margin-top: 8px;
				font-weight: bold;
				color: @gray-5;
			}
		}
	}

	.full-row-spread{
		&.section-end{
			margin-bottom: 0px;
		}
		margin-left: -30px;
		margin-right: -30px;
		padding: 16px;
		/*
		@media (min-width: 768px){
			margin-left: 0px;
			margin-right: 0px;
			box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
			padding: 32px;

			&.section-end{
				margin-bottom: 48px;
			}
		}*/
	}

	.section-start{
		margin-top: 24px;
	}

	.section-end{
		margin-bottom: 48px;
	}


	.row-link{
		padding-left: 0px;
		padding-right: 0px;


		>a{
			position: relative;
			display: block;
			width: 100%;
			text-decoration: none;
			transition: all ease-out 500ms;

		  padding: 16px 0px;
			&:hover{
				background-color: @lake-7;
				text-decoration: none;
			}
			img{
		    max-height: 70px;
		    float: none;

			}
		}
		p{
			display: block;
		/*//
			@media only screen and (min-width:768px){
				display: inline;*/
		}
	}
}

.full-column{

	padding: 32px 0;

	>.container{
		padding-right: 0px;
		padding-left: 0px;
	}

	//<<FLAG>> All elements in row must have this class to align vertically
	/*//@media (min-width:768px){
		.vertical-center-solo{
		  position: relative;
		  top: 50%;
		  transform: translateY(-50%);
		}

		>.container{
			padding-right: 15px;
			padding-left: 15px;
		}
	}*/

	//text and image holder to both be col-XX-6, but can be flexible
	.text-holder{
		.heading-text{
			font-size: @font-size-h2;
			font-weight: bold;
			line-height: 1;
		}
		.subheading-text{
			font-size: 1.125rem;
			margin-top: -12px;
			font-style: italic;
		}
		padding: 8px 16px;
		/**..
		@media (min-width:768px){
			.heading-text{
				font-size: @font-size-h1;
			}
			padding: 0px 0px;
		}*/
	}
	.image-holder{
		/*..
		@media (min-width:768px){
			&.image-align-left{
				text-align: left;
				margin-left: -7px;
			}
			&.image-align-right{
				text-align: right;
				margin-right: -7px;
			}
		}*/
		img{
			max-width: 100%;
		}//no overflow
	}

	// @media only screen and (max-width:767px){
	// 	[class*="col-"]:nth-child(odd).image-holder{
	// 			text-align: center;
	// 			&:extend(.pull-right);
	// 	}
	// 	[class*="col-"]:nth-child(even).image-holder{
	// 			text-align: center;
	// 			&:extend(.pull-right);
	// 	}
	// }

	//use bootstrap column standards for two column



	//define spiller in outer row
	//define height of inner row
	//define spill-___ in relevant image-holder column
	&.image-spiller{
		padding: 0;
		overflow-y: hidden;
	}
	.image-spill-left, .image-spill-right{
		img{
			width: 100%;
			height: auto;
		}
	}
	/*//
	@media only screen and (min-width:768px){
		.image-spill-right{
			img{
				position: absolute;
	    	bottom: 0px;
	    	left: 0px;
			}
			overflow-y: visible;
			height: 100%;
		}
		.image-spill-left{
			img{
				position: absolute;
	    	bottom: 0px;
	    	right: 0px;
			}
			overflow-y: visible;
			height: 100%;
			img{
				height: 100%;
			}
		}
	}*/


	&.bg-introducing-academy{
		overflow-x: hidden;
		[class*="col-"]:nth-child(2){
			.make-bg-color(@green-4);
			p{
				color:white;
			}
		}
	/*//
	@media only screen and (min-width: 768px){
		.make-bg-color(@green-7);
		[class*="col-"]:nth-child(1){
			.make-bg-color(@green-7);
			background-color: rgba(0,0,0,0.0);
			z-index: 1;
			p{
				color: @gray-7;
			}
			p.heading-text{
				color:@gray-5;
			}
		}
		[class*="col-"]:nth-child(2){
			.make-bg-color(@green-7);
			margin-left: -100px;
			img{
				width:800px;
			}
		}
	}*/


	}


	//override of general use section end
	.section-end{
		margin-bottom: 48px;
	}

	//for where p tags need more prominent spacing
	.paragraph-padding{
		padding: 16px 0;
	}
}


.square-box{
	width: 60%;
	min-width: 280px;
	padding: 32px 16px;
	border-radius: 8px;
	margin: 16px auto;

	font-weight: normal;
	.avatar-container{
		margin: 0 auto;

		img{
			height: 96px;
			margin: 8px 0px;
	/*				@media (min-width: 768px){
				height: 112px;
			}*/
		}
	}
	input[type=email]{
		text-align: center;
		font-size: 1.25rem;
		height: 48px;
		width: 70%;
		min-width: 250px;
		border-style: none;
		background-color: @gray-9;
		margin: 8px 0;

		//font-weight: normal;

		&:focus{
			border: none;
			outline-color: @gray-8;
		}
	}
	&.section-end{
		margin-bottom: 80px;
	}
}


.academy{

	.logo{
		height: 200px;
	}
	.title{
		font-size: 4rem;
		color: @gray-5;
		font-weight: bold
	}
	.subtitle{
		color: #11e98a;
		margin-top:-28px;
		font-weight: bold;
		letter-spacing: 2px;
	}

}

//<<FLAG>> vertical border needs to span full row length
.half-column-holder{
	a:hover, a:focus, a:active{
		text-decoration: none;
	}

	margin-right: -15px;
	margin-left: -15px;
	//image takes first 33% of module
	//content takes other 67%
	border-bottom: 2px solid @gray-8;

	>.container >.row > a{
		> [class*="col-"]{
			padding: 16px;
			margin-right: 0px;
			//margin-left: 0px;
		}
		&:not(:last-child) {
			> [class*="col-"]{
			    border-bottom: 2px solid @gray-8;
			    border-left: none;
				//margin-left: 0px;
			}
  		}
	}
	>.container >.row > [class*="col-"]{
		padding: 16px;
		margin-right: 0px;
		//margin-left: 0px;
		&:not(:last-child) {
		    border-bottom: 2px solid @gray-8;
		    border-left: none;
			//margin-left: 0px;
		}
	}


	>.container{
		padding-left: 0px;
		padding-right: 0px;
	}



	.half-column{
		position: relative;
		&.half-column-home{
			button{
				display: none;
			}
			p.medium{
				display: none;
			}
			hr{
				display: none;
			}

			.text-holder{
				padding-left: 0px;
			}
			/*..
			@media (min-width: 768px){
				.text-holder{
					padding-left: 24px;
				}

				button{
					display: inline-block;
				}
				p.medium{
					display: inline-block;
				}
				hr{
					display: inline-block;
				}*/

			}
		}

		.arrow{
	    font-weight: normal;
	    position: absolute;
	    right: -8px;
	    top: 30%;
	    font-size: 3rem;
	    color: @gray-8;
		}


		hr{
			margin-left: 0px;
		}

		.image-holder{
			text-align: center;
			padding-left: 0px;

			img{
				width: 80px;
				padding: 0px;
				margin-top: 8px;

			}

			/*//
			@media (min-width:768px){
				img{
					width: 96px;
					margin-top: 0px;
				}
			}*/
		}

	.text-holder{
		.heading-text{
			font-size: @font-size-h2;
			font-weight: bold;
			line-height: 1;
		}
		padding: 8px 16px;
		/*
		@media (min-width:768px){
			.heading-text{
				font-size: @font-size-h2;
			}
			padding: 0px 0px;
		}*/
		text-align: left;


		p{
			margin: 16px 0;
		}
	}

	/*
	@media (min-width:768px){
		//the resolution to having the negative margin on both of these is to include a fixed row height for the row just outside the columns
		//and set the column heights to be fixed at 100%
		//some kind of provision to fix buttons to the bottom of the rows so they align nicely could be worth implementing

		>.container >.row > [class*="col-"]:nth-child(odd) {
	    border-right: 2px solid @gray-8;
	    border-bottom: none;
			padding: 32px 0;
	    margin-right: -1px;
		}

		>.container >.row > [class*="col-"]:nth-child(even) {
	    padding-top: 32px;
	    border-bottom: none;
		}

		.half-column{
			.image-holder{
				padding-left: 15px;
			}
		}
	}*/
}
.third-column-holder{
	//three per row unless fixed height (dynamic padding?)
	//use bootstrap class or mixin for width?

	.third-column{
		padding: @font-size-base;
		.image-holder{
			width: 100%;
			img{
				padding: @font-size-base 0;
				width: 128px;
			}
		}
		.text-holder{
			width: 100%;
			.heading-text{
				font-size: @font-size-h4;
				font-weight: bold;
			}
		}
	}
}


.grid-of-squares{



	.grid-heading{
		font-size: @font-size-h2;
		font-weight: bold;
		padding: 16px 0;

		>img{
			height: 112px;
			text-align: center;
			float: none;
			/*//
			@media (min-width: 768px){
				float: left;
				display: inline;
			}*/
		}
	}
	.heading-text{
		font-size: @font-size-h2;
		font-weight: bold;
		line-height: 1;
		padding: 8px 16px;
		/*//
		@media (min-width:768px){
			font-size: @font-size-h1;
			padding: 16px 16px;
		}*/
	}

	.grid-square{
		text-align: left;
		&:extend(.shadow-outline);
		//height+width the same
		//hover shadow
		//
		// Paragraph in div (no overflow)
		// image | <p>name</p><p>title</p>
		//

		//<<TODO>> should have a slight shadow which is increased when hovered over rather than an outline

		padding: 24px;
		box-sizing: border-box;
		background-color: @white-1;
		margin-bottom: 16px;

		height: 256px;

		.feedback{
			//padding: 8px;
			max-height: 65%;

			overflow: hidden;
			p {
				color: @gray-5;
				font-size: 1.125rem;
			}
			//<<TODO>> fixed height
		}

		.details{
			position: absolute;
			bottom: 0;
			min-height: 76px;
			margin-bottom: 28px;

			.avatar{
				height: 64px;
				width: 64px;
				float: left;
				overflow: hidden;
				border-radius: 4px;
				img{
					height: 100%;
					//square icon, crop?
				}
				margin-right: 24px;
			}
			.text{
				float: right;

				.name{
					font-weight: bold;
					color: @gray-5;
					font-size: 1.25rem;
				}
				.title{
					font-size: 1rem;
				}
				p{
					margin: 0px;
				}
			}
		}


		&:hover{
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
		}
	}


	&.teacher-voice{
		.teacher-voice-entry{
			float: none;
			max-width: 420px;
			margin: 0 auto;
		}


		.grid-square{
			border-radius: 8px;
			padding:0px;
			height: initial;
			overflow: hidden;
			.image-holder{
				text-align: center;
				width:100%;
				overflow: hidden;
				img{
					min-width: 100%;
					margin: 0px 0px 0px 0px;
					padding: 0px;
				}
			}
			div.text-holder{
				width:100%;
				padding: 24px;
				hr{
					margin-left: 0px;
				}
				.title{
					max-height: 120px;//3 line titles
					overflow: hidden;
					font-size: 1.25rem;
					font-weight: bold;
					a{
						color: @gray-5;
					}
					a:hover{
						color: @red-4;
						text-decoration: none;
					}
				}
				.subtitle{
					height: 20px;
					font-size: .875rem;
					font-style: italic;
				}
				.content{
					max-height: 192px;
					margin-bottom: 16px;
					overflow: hidden;
				}
				.linker{
					a:hover{
						text-decoration: none;
						color: @red-4;
					}
				}
			}
			&:hover{
				box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
			}
		}
		.load-more{
			display: block;
			width: 100%;
			max-width: 420px;
			border-radius: 32px;
			margin: 0 auto;
			box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
			padding: 12px;

			font-weight: bold;
			font-size: 20px;
			margin-bottom: 0px;

			&:hover{
				box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
				text-decoration: none;
			}
		}
	}

}

//for handling "read more >" hyperlinks and the like
.linker{
	a{
		transition: all linear 50ms;
		color: @gray-7;
		font-weight: bold;
		.glyphicon{
			font-size: 14px;
		}

		&:hover{
			text-decoration: none;
			color: @gray-6;
		}
	}
}

//for all cases of inline image placement in a text field
.text-holder{
	>img{
		margin: 0px 15px;
	}
}

///margin to position content at start of a section away from edge
//variety of section-end definitions exist within module specifications
.section-start{
	margin-top: 48px;
}
.section-end, .margin-bottom-24{
	margin-bottom: 24px;
}

.shadow-outline{
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
}


//<<FLAG>> solution to the -15px side margins issue
.full-column,
.half-column-holder,
.third-column-holder,
.splash-header,
.grid-of-squares{
	.container > .row{
		margin-left: 0px;
		margin-right: 0px;
	}
}

//<<FLAG>> Hacky solution to the carousel buttons within a full-column item
.carousel-buttons{
	position: absolute;
	top: 16px;
	z-index: 1;
}

//for holding two buttons in top right corner closely aligned without overlapping
.corner-button-holder{
	padding-top: 8px;
	[class*="col-"]:nth-child(odd) {
	   text-align: right;
		}
		[class*="col-"]:nth-child(even) {
	   text-align: left;
		}
}

.background{
	background-size: cover;
	background-repeat: no-repeat;;

	&.bg-bottom-left{
		background-position: bottom left;
	}
	&.bg-bottom-right{
		background-position: bottom right;
	}
	&.bg-bottom-center{
		background-position: bottom center;
	}
	&.bg-top-left{
		background-position: top left;
	}
	&.bg-top-right{
		background-position: top right;
	}
	&.bg-top-center{
		background-position: top center;
	}

	&.bg-xs-cover{
		background-size: cover;
	}
	&.bg-xs-contain{
		background-size: contain;
	}
	&.bg-xs-hidden{
		background-size: 0 0;
	}

	/*
	@media (min-width: 768px){
		&.bg-sm-cover{
			background-size: cover;
		}
		&.bg-sm-contain{
			background-size: contain;
		}
	}*/

}


.rubrics{
	background-color: @gray-8;
	padding:0px;

	&:extend(.shadow-outline);

	>.row{
		margin: 8px 16px;

		&.title-block{
			margin: 0px;
			padding: 0px;

			.col-md-12:nth-child(1){
				&:extend(.bg-color-white);
				border-top-right-radius: 4px;
				border-bottom-left-radius: 0px;
				font-size: 1.625rem;
				font-weight: bold;
				text-align: left;
				padding: 4px 16px;
			}
		}


		>[class*="col-"]:nth-child(1){
			&:extend(.bg-color-blue-5);
			padding: 12px 0;
			font-size: 1.625rem;
			font-weight: bold;
			text-align: center;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}//desktop width: 10%, padding top 20%

		>[class*="col-"]:nth-child(2){
			&:extend(.bg-color-white);
			padding: 16px;
			border-top-right-radius: 4px;
			min-height: 61px;

			p{
				margin-bottom: 6px;
			}
		}
	}
}


.xs-fill-row{//for buttons to occupy a full row on mobile where they don't on desktop
	display: block;
	width: 200px;
	margin: 24px auto 8px auto;
}//for cases where an alternative link is provided in smaller text beside button


@media only screen and (min-width:768px){

	.xs-fill-row{
		display: inline;
		width: inherit;
		margin-bottom: auto;
	}

	.sm-padding-bottom-320{
		padding-bottom: 320px;//for ensuring a bottom aligned bg-image doesn't clash with texts
	}

	.sm-margin-top-48{
		margin-top: 48px;
	}
	.sm-margin-top-72{
		margin-top: 72px;
	}

	.height-sm-950{
		height: 950px;
	}
	.height-sm-850{
		height: 750px;
	}
	.height-sm-750{
		height: 750px;
	}
	.height-sm-700{
		height: 700px;
	}
	.height-sm-650{
		height: 650px;
	}
	.height-sm-600{
		height: 600px;
	}
	.height-sm-550{
		height: 560px;
	}
	.height-sm-500{
		height: 500px;
	}
	.height-sm-450{
		height: 450px;
	}
	.height-sm-400{
		height: 400px;
	}
	.height-sm-350{
		height: 350px;
	}
	.height-sm-300{
		height: 300px;
	}
	.height-sm-250{
		height: 250px;
	}
	.vertical-center-xs{
  	display: inherit;
    vertical-align: top;
    float: left;
	}
	.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
	}
	body{
		text-align: left;
	}
	////heres where you started last night
	.splash-header{
		.heading-text{
			img{
				float: none;
			}
			font-size: @font-size-h1;
		}
		.breadcrumbs{
			font-style: italic;
			font-size: 18px;
			margin-top: 32px;
		}

		.row-link{

			p{
				display: inline;
			}
		}
		.square-box{
			.avatar-container{
				img{
					height:112px;
				}
			}
		}
		.full-row-spread{
			margin-left: 0px;
			margin-right: 0px;
			box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
			padding: 32px;

			&.section-end{
				margin-bottom: 48px;
			}
		}
		&.initial-search{
			margin-top: 0px;
			padding-top: 20vh;
			.heading-text{
				padding: 16px;
			}
			.btn{
				width: 160px;
			}
		}

		&.search-results{
			>.container{
				margin: auto;
				>.row{
					margin: auto -16px;
					>div{
						padding: 0px;
					}
				}
			}
			.search-result{

				&:extend(.shadow-outline);

				//margin: 8px  -16px;
				//height: 128px;
				text-align: left;
				.heading-text{
					font-size: 18px;
					line-height: 1.2;
					color: @gray-5;
					padding-bottom: 0px;
				}
				.content{
					font-size: 14px;
					line-height: 1.3;
					overflow: hidden;
					height: 56px;//four lines
					margin-bottom: 4px;
				}
				.tags{
					display:block;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-style: italic;
					font-size: 12px;
					max-height: 18px;//two lines
					overflow: hidden;
					color: @gray-7;
					margin-bottom: 0px;
				}
				.assigner{
					height: 128px;
					//background-color: @gray-9;
					text-align: center;
					bottom: 0px;
					font-size: 18px;
					padding: 0px;
					margin: 0px;
					border-top: none;
					border-left: 1px solid @gray-8;
					a{
						padding-top: 52px;
					}
				}
			}
			.no-results{
				padding: 16px;
				margin: 0px;
				&:extend(.bg-color-white);
				.heading-text{
					padding-top: 48px;
				}
				.subheading{
					font-size: 20px;
				}
				img{
					margin: 48px 0px;
				}
			}
		}
		&.one-result{
			.btn{
				margin-right: 16px;
			}
			.heading-text{
				font-size: 1.625rem;
			}
			.standards{
				.heading-text{
					font-size: 1.25rem;
				}
			}
		}
	}
	.full-column{
		.vertical-center-solo{
		  position: relative;
		  top: 50%;
		  transform: translateY(-50%);
		}

		>.container{
			padding-right: 15px;
			padding-left: 15px;
		}
		.text-holder{
			.heading-text{
				font-size: @font-size-h1;
			}
			padding: 0px 0px;
		}
		.image-holder{
			&.image-align-left{
				text-align: left;
				margin-left: -7px;
			}
			&.image-align-right{
				text-align: right;
				margin-right: -7px;
			}
		}
		.image-spill-right{
			img{
				position: absolute;
	    	bottom: 0px;
	    	left: 0px;
	    	height: 100%;
	    	width: auto;
			}
			overflow-y: visible;
			height: 100%;
		}
		.image-spill-left{
			img{
				position: absolute;
	    	bottom: 0px;
	    	right: 0px;
	    	height: 100%;
	    	width: auto;
	    	//height 100%, width auto
	    	//give height auto, width 100% for mobile layout
			}
			overflow-y: visible;
			height: 100%;
			img{
				height: 100%;
			}
		}
		&.bg-introducing-academy{
			.make-bg-color(@green-7);
			[class*="col-"]:nth-child(2){
				.make-bg-color(@green-7);
				background-color: rgba(0,0,0,0.0);
				p{
					color: @gray-7;
				}
				p.heading-text{
					color:@gray-5;
				}
			}
			[class*="col-"]:nth-child(1){
				.make-bg-color(@green-7);
				img{
					width:800px;
				}
			}
		}
	}

	.half-column-holder{
		a{
			&:hover{
				text-decoration: none;


				    //background: -webkit-linear-gradient(left,white,#f0f2f3 95%);
				>div{
					background-color: #f0f2f3;
				}


				/* gradient approach, looks too much like a page opening
				&:nth-child(odd){
					>div{
						@darkerdark: darken(#f0f2f3,10%);
						background: -webkit-linear-gradient(left,white 5%, #f0f2f3 50%, #f0f2f3 10%, @darkerdark);
					}
				}
				&:nth-child(even){
					>div{
						background-color: #f0f2f3;
						background: -webkit-linear-gradient(right,white 3%,#f0f2f3 27%, #f0f2f3 70%);
					}
				}
				*/
			}
		}
		.half-column{
			&.half-column-home{
				.text-holder{
					padding-left: 24px;
				}
				button{
					display: inline-block;
				}
				p.medium{
					display: inline-block;
					padding-top: 0px;
					margin-top: 0px;
				}
				.heading-text{
					padding-bottom: 0px;
					margin-bottom: 0px;
				}
				hr{
					display: inline-block;
				}
			}
			.image-holder{
				img{
					width: 96px;
					margin-top: 0px;
				}
			}
			.text-holder{
				.heading-text{
					font-size: @font-size-h2;
				}
				padding: 0px 0px;
				hr{
					padding: 0px auto;
				}
			}
		}
		//the resolution to having the negative margin on both of these is to include a fixed row height for the row just outside the columns
		//and set the column heights to be fixed at 100%
		//some kind of provision to fix buttons to the bottom of the rows so they align nicely could be worth implementing

		>.container >.row > a:nth-child(odd) > [class*="col-"] {
	    	border-right: 2px solid @gray-8;
	   		border-bottom: none;
			padding-top: 32px;
			padding-bottom: 32px;
	    	margin-right: -1px;
		}

		>.container >.row > a:nth-child(even) > [class*="col-"] {
	    	padding-top: 32px;
	   	 	padding-bottom: 32px;
	    	border-bottom: none;
		}


		>.container >.row >  [class*="col-"]:nth-child(odd){
	    	border-right: 2px solid @gray-8;
	   		border-bottom: none;
			padding-top: 32px;
			padding-bottom: 32px;
	    	margin-right: -1px;
		}

		>.container >.row > [class*="col-"]:nth-child(even) {
	    	padding-top: 32px;
	   	 	padding-bottom: 0px;
	    	border-bottom: none;
		}

		.half-column{//<<FLAG>> put above
			.image-holder{
				padding-left: 15px;
			}
		}
	}

	.third-column-holder{
		&.force-image-fit{
			.third-column{
				.image-holder{
					height: 180px;
					padding: 16px 0px;
					img{
						max-width: 102%;
						min-height: 120px;
					}
				}
			}

			.offset-top-32{
				margin-top: -32px;
			}
		}
		//overly tall images should use an inline negative margin-top styling in cases where the
		//content making it tall is unobtrusive (as with the 'custom standards' text) or be redesigned
	}

	.grid-of-squares{
		.grid-heading{
			text-align: center;
			>img{
			}
			.heading-text{
				vertical-align: middle;;
				font-size: @font-size-h1;
				padding: 16px 16px;
			}
		}

		&.teacher-voice{
			.grid-heading{
				padding: 24px;
				text-align: left;
				.heading-text{
					padding:0px;
					font-size: 2.25rem;
				}
				.subheading-text{
					margin-top: -8px;
					font-size: 1.125rem;
					color: #99a2a2;;
				}
			}


			.teacher-voice-entry{
				margin: auto;
				max-width: 100%;
				float: left;
			}
			.grid-square{
				border-radius: 8px;
				height: 560px;
				padding:0px;
				overflow: hidden;
				.image-holder{
					float:none;
					text-align: center;
					height: 192px;
					overflow: hidden;
					width: 100%;
					img{
						height:100%;
						margin: 0px 0px 0px 0px;
						padding: 0px;
					}
				}
				div.text-holder{
					float: none;
					padding: 24px;
					width: 100%;
					.title{
						height: 56px;
						font-size: 1.25rem;
						font-weight: bold;
						overflow: hidden;
					}
					.subtitle{
						height: 20px;
						font-size: .875rem;
						font-style: italic;
						overflow: hidden;
					}
					.content{
						height:180px;
						margin-bottom: 8px;
						overflow: hidden;
					}
					.linker{

					}
				}
			}
		}
	}
	.background{
		&.bg-sm-cover{
			background-size: cover;
		}
		&.bg-sm-contain{
			background-size: contain;
		}
	}

	.heading-text-sm-h2{
		padding-top: 0;
		font-size: @font-size-h1 !important;
		line-height: 1;
	}
}

.typography-teaching-styles{

	&[class*="bg-color-"] a:not(.btn){
		color: @turq-5;

		.glyphicon{
			color: @gray-8;
		}
	}
}

.typography-teaching-standards{

	&.bg-color-white{
		a:not(.btn){
			color: @lake-5;

			.glyphicon{
				color: @gray-8;
			}
		}
	}
	&.bg-color-lake-5{
		a:not(.btn){
			color: @yellow-5;

			.glyphicon{
				color: @gray-8;
			}
		}
	}
}
