
.splash-header{
	min-height: 80px;
	text-align: center;
	padding: @font-size-base 0;
	.text-holder{

	}
	.image-holder{
		img{

		}
	}
}

.full-column{
	padding-top: 2rem;
	padding-bottom: 2rem;

	.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
	}
	//text and image holder to both be col-XX-6
	.text-holder{

	}
	.image-holder{
		img{

		}
	}

	.pull-right{
		img{
			float: left;
		}
	}
	.pull-left{
		img{
			float:right;
		}
	}
	//use bootstrap column standards for two column

	.background-middle-left-spill{
		background-position: bottom 0% right 50%;//<<FLAG>> do these work?
	}
	.background-middle-right-spill{
		background-position: bottom 0% left 50%;
	}

	.module-large{
		min-height: 670px;
	}
	.module-section-head{
		min-height: 466px;
	}
	img{
		//
	}
}

.half-column-holder{
	//image takes first 33% of module
	//content takes other 67%
	border-top: .125rem solid rgba(0,0,0, 0.15);
	border-bottom: .125rem solid rgba(0,0,0, 0.15);


	[class*=" col-"]:nth-child(odd) {
    border-right: .125rem solid rgba(0,0,0, 0.15);
    border-left: none;
	}

	.half-column{
		padding: @font-size-base 0;


		.image-holder{
			.make-sm-column(4);
			img{
				width: 96px;//<<FLAG>>
				display: block;
				float: right;
			}
		}
		.text-holder{
			.make-sm-column(8);
		}
	}
}
.third-column-holder{
	//three per row unless fixed height (dynamic padding?)
	//use bootstrap class or mixin for width?


	.third-column{

		padding: @font-size-base;
		.image-holder{
			.make-md-column(12);

			img{
				padding: @font-size-base 0;
				width: 128px;//<<FLAG>>
				display: block;
			}
		}
		.text-holder{
			.make-md-column(12);
		}
	}
}


.grid-of-squares{


	.grid-square{
		//height+width the same
		//hover shadow
		//
		// Paragraph in div (no overflow)
		// image | <p>name</p><p>title</p>
		//


		.grid-name{

		}
		.grid-title{

		}

		img{
			//square icon

		}
	}
}
