
//including bootstrap overrides here to avoid unreferenced variables in other parts of main.less
@font-size-base:  1rem;

@font-size-h1:            2.625rem; // ~42px
@font-size-h2:            1.75rem; // ~30px
@font-size-h3:            1.5rem; // ~24px
@font-size-h4:            1.5rem; // ~18px
@font-size-h5:            1.125rem;
// @font-size-h6:            ceil((@font-size



h1, .header-1{
	.font_gen(2.625rem, 1.143, -0.3px, bold);
}
h2, .header-2{
	.font_gen(1.75rem, 1.125, -0.3px, bold);
}

h3, .header-3{
	.font_gen(1.5rem, 1.125, -0.3px, bold);
}

h4, .header-4{
	.font_gen(1.25rem, 1.3, -0.3px, bold);
}

h5, .header-5{
	.font_gen(1rem, 1.111, -0.3px, bold);
}

h1,h2,h3,h4,h5,[class*="heading-"]{
	color: @gray-5;
}

p.large {
	.font_gen(1.25rem, 1.5);
}
p.medium, p {
	.font_gen(1.125rem, 1.333);
}
p.small {
	.font_gen(1rem, 1.375);
}
p.tiny{
	.font_gen(0.875rem, 1.357);
}

//<<FLAG>> potentially troublesome
p{
	color: @gray-7;
}


// .content-heavy is added to the body of some pages
// It things and shrinks the text. Useful for pages that are wordy,
// eg pages that are not landing pages like content#show
.content-heavy {
  h1, .header-1{
    .font_gen(2.625rem, 1.143, -0.3px, normal);
  }
  h2, .header-2{
    .font_gen(1.75rem, 1.125, -0.3px, normal);
  }

  h3, .header-3{
    .font_gen(1.75rem, 1.312, -0.3px, normal);
  }

  h4, .header-4{
    .font_gen(1.5rem, 1.56, -0.3px, normal);
  }

  h5, .header-5{
    .font_gen(1.125rem, 1.25, -0.3px, normal);
  }

  p.large {
    .font_gen(1.563rem, 1.875);
  }
  p.medium, p {
    .font_gen(1.406rem, 1.666);
  }
  p.small {
    .font_gen(1.25rem, 1.719);
  }
  p.tiny{
    .font_gen(1.094rem, 1.719);
  }
}
