---
title: Academy
description: Another HBS Page
keywords: kiddom, studentss
author: Not Joshua Pekera
layout: container-fluid-with-header.hbs
---

<div class="row" style="padding-bottom:80px;">

</div>

<div class="row splash-header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 section-start-extra-padding section-end">
				<img src="/images/logo-academy.svg" style="height: 200px;">
				<p class="large" style="font-size: 5rem; color: black; font-weight: bold">Academy</p>
				<p class="large font-color-green-5" style="margin-top:-42px; font-weight: bold; letter-spacing: 2px;">BY KIDDOM</p>
				<p><button class="btn btn-pill-emph-academy">Request info</button></p>
			</div>
		</div>
	</div>
</div>

<div class="row full-column bg-color-green-8">
	<div class="container">
		<div class="row module-height-section-head">
			<div class="col-md-offset-1  col-md-5 text-holder vertical-center-solo">
				<p class="heading-text">Introducing Academy by Kiddom</p>
				<hr class="green-hr">
				<p>Empower your district, network or school with the achievement data necessary to make informed decisions about tomorrow</p>
			</div>
		</div>
	</div>
</div>



<div class="row third-column-holder section-start section-end">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-3">
				<div class="row third-column">
				<div class="image-holder">
						<img src="/images/circle-yellow.png" >
					</div>
					<div class="text-holder">
						<h4>Direct feedback</h4>
						<hr class="green-hr"/>
						<p class="small">
							Keep students engaged by answering questions and sharing feedbac when they need it.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-3">
				<div class="row third-column">
				<div class="image-holder">
						<img src="/images/circle-yellow.png" >
					</div>
					<div class="text-holder">
						<h4>Custom success criteria</h4>
						<hr class="grass-hr"/>
						<p class="small">
							Rubrics give students a clear understanding of how and what they should be working on.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-3">
				<div class="row third-column">
				<div class="image-holder">
						<img src="/images/circle-yellow.png" >
					</div>
					<div class="text-holder">
						<h4>Join a class</h4>
						<hr class="green-hr"/>
						<p class="medium">
							<em>Students can see all of their papers, videos, quizzes, practice worksheets, and more — all within the app.
							</em>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row splash-header bg-color-green-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 image-holder section-start">
				<img src="/images/logo-academy.svg" style="width: 100px;">
			</div>
			<div class="col-md-12 text-holder">
				<p class="heading-text">Ready to get started?</p>
			</div>
			<div class="col-md-12">
				<div class="square-box section-end bg-color-white">
					<p></p>
					<p><input type="email" placeholder="Email address"></p>
					<button class="btn btn-pill-emph-academy">Request info</button>
				</div>
			</div>
		</div>
	</div>
</div>
