---
title: Academy
description: Another HBS Page
keywords: kiddom, studentss
author: Not Joshua Pekera
layout: container-fluid-with-header.hbs
---

<div class="row splash-header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 academy xs-margin-top-48 sm-margin-top-72 section-end">
				<img src="images/logo-academy.svg" class="logo"  alt="academy-logo">
				<p class="title">Academy</p>
				<p class="large subtitle">BY KIDDOM</p>
				<p><button class="btn btn-pill-emph-academy">Request info</button></p>
			</div>
		</div>
	</div>
</div>

<!--
<div style="position: relative;">
	<div class='bg-color-green-8 hidden-xs height-sm-450 ' style="position:absolute;">

	</div>
	<div class=" height-sm-450 " style="background-image: url('images/academy-bg-intro_bg.svg');position: absolute;width: 100%;background-size: contain;/* height: 100%; *//* margin-right: 0px; */background-position: bottom center;background-repeat: no-repeat;margin-left: 200px;">
	</div>
	<div class="row full-column  background bg-bottom-right bg-xs-hidden bg-sm-contain">
		<div class="container">
			<div class="row  height-sm-450">
				<div class="col-md-offset-1  col-md-5 text-holder vertical-center-solo">
					<p class="heading-text">Introducing Academy by Kiddom</p>
					<hr class="green-hr">
					<p>Empower your district, network or school with the achievement data necessary to make informed decisions about tomorrow</p>
				</div>
			</div>
		</div>
	</div>
</div>
-->

<div class="row bg-introducing-academy full-column image-spiller">
	<div class="container">
		<div class="row height-sm-450">
			<div class="col-sm-offset-1  col-sm-5 text-holder vertical-center-solo">
				<p class="heading-text">Introducing Academy by Kiddom</p>
				<hr class="green-hr">
				<p>Empower your district, network or school with the achievement data necessary to make informed decisions about tomorrow</p>
			</div>
			<div class="col-sm-6 image-spill-right hidden-xs">
				<img src="images/academy-bg-intro_bg.svg"  alt="academy-bg-intro">
			</div>
		</div>
	</div>
</div>


<div class="row third-column-holder section-start section-end">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-3 col-sm-4">
				<div class="row third-column">
				<div class="image-holder">
						<img src="images/direct_feedback.svg" >
					</div>
					<div class="text-holder">
						<h4>Direct feedback</h4>
						<hr class="green-hr"/>
						<p>
							Keep students engaged by answering questions and sharing feedbac when they need it.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-3 col-sm-4">
				<div class="row third-column">
				<div class="image-holder">
						<img src="images/custom_success_criteria.svg" >
					</div>
					<div class="text-holder">
						<h4>Custom success criteria</h4>
						<hr class="grass-hr"/>
						<p>
							Rubrics give students a clear understanding of how and what they should be working on.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-3 col-sm-4">
				<div class="row third-column">
				<div class="image-holder">
						<img src="images/join_class.svg" >
					</div>
					<div class="text-holder">
						<h4>Join a class</h4>
						<hr class="green-hr"/>
						<p>
							Students can see all of their papers, videos, quizzes, practice worksheets, and more — all within the app.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row splash-header bg-color-green-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 image-holder section-start">
				<img src="images/logo-academy-inverted.svg" style="width: 100px;"  alt="academy-logo-iverted">
			</div>
			<div class="col-md-12 text-holder">
				<p class="heading-text">Ready to get started?</p>
			</div>
			<div class="col-md-12">
				<div class="square-box section-end bg-color-white">
					<p></p>
					<p><input type="email" placeholder="Email address"></p>
					<button class="btn btn-pill-emph-academy">Request info</button>
				</div>
			</div>
		</div>
	</div>
</div>
