---
title: Home?
description: Another HBS Page
keywords: kiddom, studentss
author: Not Joshua Pekera
layout: container-fluid-with-header.hbs
---
<div class="row splash-header height-xs-650 background bg-bottom-center bg-sm-cover" style="background-image: url('images/homepage-hero.svg');">
	<div class="col-md-6 col-md-offset-3 text-holder section-start sm-extra-padding-top">
		<p class="heading-text  font-color-red-5"> Transformative Teaching, <br/>Personalised Learning</p>
		<button class="btn btn-pill-chunky-no-border">Sign Up</button>

	</div>
</div>
<div class="row half-column-holder">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="row half-column half-column-home">
					<div class="image-holder col-md-3 col-xs-4  vertical-center-xs">
						<img src="images/logo-teach.svg" >
					</div>
					<div class="text-holder col-xs-7 vertical-center-xs">
						<p class="heading-text">Teachers</p>
						<hr class="blue-hr"/>
						<p class="medium">
							Be a conductor of learning for your students. Assess, analyze, and take action on student achievement data all from one place
						</p>
						<button class="btn btn-pill-teacher hidden-xs">Learn more</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row half-column half-column-home">
					<div class="image-holder col-md-3 col-xs-4  vertical-center-xs">
						<img src="images/logo-learn.svg" >
					</div>
					<div class="text-holder col-xs-7 vertical-center-xs">
						<p class="heading-text">Students</p>
						<hr class="purple-hr"/>
						<p class="medium">
							Students own their education with an assignment dashboard, real-time progress reports, and direct teacher feedback.
						</p>
						<button class="btn btn-pill-student">Learn more</button>
					</div>
					<!--<span class="glyphicon glyphicon-menu-right arrow visible-xs"></span>-->
				</div>
			</div>
			<div class="col-sm-6 visible-xs">
				<div class="row half-column half-column-home">
					<div class="image-holder col-md-3 col-xs-4 vertical-center-xs">
						<img src="images/logo-academy.svg" >
					</div>
					<div class="text-holder col-xs-7  vertical-center-xs">
						<p class="heading-text">Admins</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row splash-header hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-holder academy section-start sm-extra-padding-top section-end">
				<img src="images/logo-academy.svg" class="logo">
				<p class="title">Academy</p>
				<p class="large subtitle">BY KIDDOM</p>
				<p class="medium">Empower your district, network or school with the achievement data necessary to make informed decisions about tomorrow</p>
				<p><button class="btn btn-pill-academy">Learn more</button></p>
			</div>
		</div>
	</div>
</div>

<div class="row grid-of-squares bg-color-gray-9">
	<div class="container">
		<div class="row section-start">
		<!--
			<div class="col-sm-2 col-xs-12 heading-image">
				<img src="images/homepage-heart.svg">
			</div>
			<div class="col-sm-3 col-sm-push-7 hidden-xs">
				<div class="row corner-button-holder" style="float:right;">
					<div class="col-xs-6">
						<button class="btn btn-round"><span><img src="images/icon-facebook.svg"></span></button>
					</div>
					<div class="col-xs-6">
						<button class="btn btn-round"><span><img src="images/icon-twitter.svg"></span></button>
					</div>
				</div>
			</div>
			<div class="col-sm-7 col-sm-pull-3 col-xs-12 heading-text">
				<h1>Educators love us</h1>
			</div>
			-->

			<div class="col-sm-12 grid-heading margin-bottom-24">
				<img src="images/homepage-heart.svg">
				<div class="row corner-button-holder hidden-xs" style="float:right;">
					<div class="col-xs-6">
						<button class="btn btn-round"><span><img src="images/icon-facebook.svg"></span></button>
					</div>
					<div class="col-xs-6">
						<button class="btn btn-round"><span><img src="images/icon-twitter.svg"></span></button>
					</div>
				</div>
				<p class="heading-text" style="font-size: 3rem; text-align: center; display: inline-block;">Educators love us</p>

			</div>
		</div>
		<div class="row section-end">
			<div class="col-lg-4 col-sm-6 col-xs-12 ">
				<div class= "grid-square">
					<div class="feedback">
						<p>"wow...ok this is super cool! I'm really starting to like it! Thank you for all of your help!"</p>
					</div>
					<div class="details">
						<div class="avatar">
							<img src="images/logo-academy.svg">
						</div>
						<div class="text">
							<p class="name">Mrs Menzer</p>
							<p class="title">Bobster</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12 ">
				<div class= "grid-square">
					<div class="feedback ">
						<p>And the text goes here.</p>
					</div>
					<div class="details">
						<div class="avatar">
							<img src="images/logo-academy.svg">
						</div>
						<div class="text">
							<p class="name">Bobby</p>
							<p class="title">Bobster</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 col-xs-12 hidden-xs">
				<div class= "grid-square">
					<div class="feedback">
						<p>And the text goes here.</p>
					</div>
					<div class="details">
						<div class="avatar">
							<img src="images/logo-academy.svg">
						</div>
						<div class="text">
							<p class="name">Bobby</p>
							<p class="title">Bobster</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12 hidden-xs">
				<div class= "grid-square">
					<div class="feedback">
						<p>And the text goes here.</p>
					</div>
					<div class="details">
						<div class="avatar">
							<img src="images/logo-academy.svg">
						</div>
						<div class="text">
							<p class="name">Bobby</p>
							<p class="title">Bobster</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12 ">
				<div class= "grid-square">
					<div class="feedback">
						<p>And the text goes here.</p>
					</div>
					<div class="details">
						<div class="avatar">
							<img src="images/logo-academy.svg">
						</div>
						<div class="text">
							<p class="name">Bobby</p>
							<p class="title">Bobster</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12 hidden-xs">
				<div class= "grid-square">
					<div class="feedback">
						<p>And the text goes here.</p>
					</div>
					<div class="details">
						<div class="avatar">
							<img src="images/logo-academy.svg">
						</div>
						<div class="text">
							<p class="name">Bobby</p>
							<p class="title">Bobster</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row splash-header">
			<div class="col-sm-12 ">
				<div class="full-row-spread bg-color-white section-end">
					<p><h2>Ready to empower your classroom?</h2></p>
					<p><button class="btn btn-pill-emph">Sign up for free</button></p>
					<p>Questions? <a href="#">Get it touch</a>!</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row bg-color-lake-7 full-column image-spiller">
	<div class="container">
		<div class="row height-sm-300">
			<div class="col-lg-3 col-md-4 col-sm-5 col-sm-push-7 text-holder vertical-center-solo">
				<p class="heading-text-sm-h2">Get the Kiddom app</p>
				<p>Keep the classroom in your pocket!</p>
				<p>
					<button class="btn btn-pill-emph btn-social-media">
						<img src="images/icon-app_store_ios.svg">
					</button>
				</p>
			</div>
			<div class="col-sm-7 col-sm-pull-5 col-md-pull-4 image-spill-left">
				<img src="images/app-illustration.svg">
			</div>
		</div>
	</div>
</div>
