---
title: Home?
description: Another HBS Page
keywords: kiddom, studentss
author: Not Joshua Pekera
layout: container-fluid-with-header.hbs
---
<div class="row"  style="padding-top: 80px;">
</div>
<div class="row splash-header module-height-large bg-color-green-4">
	<div class="col-md-6 col-md-offset-3 text-holder section-start">
		<h1> Transformative Teaching, Personalised Learning</h1>
		<button class="btn btn-pill-heading-no-border">Sign Up</button>

	</div>
</div>
<div class="row half-column-holder">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-5">
				<div class="row half-column">
					<div class="image-holder">
						<img src="/images/logo-teach.svg" >
					</div>
					<div class="text-holder">
						<p class="heading-text">Teachers</p>
						<hr class="blue-hr"/>
						<p class="medium">
							Be a conductor of learning for your students. Assess, analyze, and take action on student achievement data all from one place
						</p>
						<button class="btn btn-pill-teacher">Learn more</button>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row half-column">
					<div class="image-holder">
						<img src="/images/logo-learn.svg" >
					</div>
					<div class="text-holder">
						<p class="heading-text">Students</p>
						<hr class="purple-hr"/>
						<p class="medium">
							Students own their education with an assignment dashboard, real-time progress reports, and direct teacher feedback.
						</p>
						<button class="btn btn-pill-student">Learn more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="row splash-header">
	<div class="container">
		<div class="row section-start section-end">
			<div class="col-sm-6 col-sm-offset-3 text-holder">
				<img src="/images/logo-academy.svg" style="height: 200px;">
				<p><h1>Academy</h1></p>
				<p class="medium">Empower your district, network or school with the achievement data necessary to make informed decisions about tomorrow</p>
				<p><button class="btn btn-pill-academy">Learn more</button></p>
			</div>
		</div>
	</div>
</div>



<div class="row grid-of-squares bg-color-gray-9">
	<div class="container">
		<div class="row section-start">
			<div class="col-sm-9 text-holder">
				<h1><img src="/images/circle-yellow.png" style="height: 80px;" > Educators love us</h1>
			</div>
			<div class="col-sm-2 pull-right">
					<div class="row">
					<div class="col-xs-6">
						<button class="btn btn-round"><span class="glyphicon glyphicon-chevron-left"></span></button>
					</div>
					<div class="col-xs-6">
						<button class="btn btn-round"><span class="glyphicon glyphicon-chevron-right"></span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="row section-start section-end">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 ">
				<div class= "grid-square">
					<div class="feedback">
						<p>And the text goes here.</p>
					</div>
					<div class="details">
						<div class="avatar">
							<img src="/images/logo-academy.svg">
						</div>
						<div class="text">
							<p class="name">Bobby</p>
							<p class="title">Bobster</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 ">
				<div class= "grid-square">
					<div class="feedback ">
						<p>And the text goes here.</p>
					</div>
					<div class="details">
						<div class="avatar">
							<img src="/images/logo-academy.svg">
						</div>
						<div class="text">
							<p class="name">Bobby</p>
							<p class="title">Bobster</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<div class= "grid-square">
					<div class="feedback">
						<p>And the text goes here.</p>
					</div>
					<div class="details">
						<div class="avatar">
							<img src="/images/logo-academy.svg">
						</div>
						<div class="text">
							<p class="name">Bobby</p>
							<p class="title">Bobster</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<div class= "grid-square">
					<div class="feedback">
						<p>And the text goes here.</p>
					</div>
					<div class="details">
						<div class="avatar">
							<img src="/images/logo-academy.svg">
						</div>
						<div class="text">
							<p class="name">Bobby</p>
							<p class="title">Bobster</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row splash-header">
			<div class="col-sm-12 ">
				<div class="full-row-spread bg-color-white section-end">
					<p><h2>Ready to empower your classroom?</h2></p>
					<p><button class="btn btn-pill-emph">Sign up for free</button></p>
					<p>Questions? <a href="#">Get it touch</a>!</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row bg-color-lake-7 full-column image-spiller">
	<div class="container">
		<div class="row module-height-strip">
			<div class="col-sm-7 image-spill-left hidden-xs hidden-sm">
				<img src="/images/grid.png">


			</div>
			<div class="col-sm-offset-1 col-sm-3 text-holder vertical-center-solo">
				<p class="heading-text">Get the Kiddom app</p>
				<p>Keep the classroom in your pocket!</p>
				<p>
					<button class="btn btn-pill-emph btn-social-media">
						<div class="row">
							<div class="col-xs-2">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</div>
							<div class="col-xs-9 pull-right">
								<p class="appStore-dl">Download on the</p>
								<p class="appStore-text">AppStore</p>
							</div>
					</button>
				</p>
			</div>
		</div>
	</div>
</div>
