---
title: Kiddom Styleguide
description: Component library of awesomeness
keywords: kiddom, styleguide
author: Joshua Pekera
layout: default-layout.hbs
---
<div class="cover-wrapper">
	<div class="cover-wrapper-inner">
		<div class="cover-container">
			<div class="cover-inner">
				<h1 class="cover-heading">I design experiences for humans.</h1>
				<p class="lead">
					<a href="work.html" class="btn btn-cover">Recent Work</a>
				</p>
			</div>

			<div class="mastfoot">
				<div class="inner">
				</div>
			</div>

		</div>
	</div>
</div>
