<div class="modal modal-student <!--fade-->" id="myModal" tabindex="-1" role="dialog" style="display: inherit;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<p class="modal-title">Forgot Password</p>

				<p class="large">
					Enter your email or username below to reset your password.
				</p>
			</div>
			<div class="modal-body">
				<input type="text" placeholder="Email or Username">
			</div>
			<div class="modal-footer">
				<span>
					<button class="btn btn-pill-student">Cancel</button>
				</span>
				<span>
					<button class="btn btn-pill-emph-student">Submit</button>
				</span>
			</div>
		</div><!-- /.modal-content -->
		<div class="modal-postscript">
			<p>Forget your Username? <a href="#">Ask your Teacher</a></p>
		</div>
	</div><!-- /.modal-dialog -->
</div>
