<div class="modal modal-student modal-transparent <!--fade-->" id="myModal" tabindex="-1" role="dialog" style="display: inherit;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<p class="modal-title">Password Reset</p>

				<p class="large">
					A password reset request has been sent to your teacher.
				</p>


			</div>
			<div class="modal-footer">
				<span>
					<button class="btn btn-pill-emph-student">Ok</button>
				</span>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

