<div class="modal modal-student<!--fade-->" id="myModal" tabindex="-1" role="dialog" style="display: inherit;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<p class="modal-title">Student Signup</p>
			</div>
			<div class="modal-body">
				<button class="btn btn-pill-svg"><img src="images/logo-google.svg" alt="G"><span>Sign in with Google</span></button>

				<form>
					<p><input type="text" placeholder="Full Name"></p>
					<p><input type="email" placeholder="Email or Username"></p>
					<p><input type="password" placeholder="Password"></p>
				</form>


			</div>
			<div class="modal-footer">
					<span>
						<button class="btn btn-pill-student">Cancel</button>
					</span>
					<span>
						<button class="btn btn-pill-emph-student">Sign up</button>
					</span>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	<div class="modal-postscript">
		<p>Have an acccount? <a href="">Sign in</a></p>
		<p><a href="">Parent or Guardian?</a></p>
	</div>
</div><!-- /.modal -->
