<div class="modal <!--fade-->" id="myModal" tabindex="-1" role="dialog" style="display: inherit;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<p class="modal-title">Teacher Signup</p>
			</div>
			<div class="modal-body">
				<form>
					<p><input type="text" placeholder="Full Name"></p>
					<p><input type="text" placeholder="What do your students call you?"></p>
					<p><input type="email" placeholder="Email or Username"></p>
				</form>


			</div>
			<div class="modal-footer">
				<span>
					<button class="btn btn-pill-teacher">Cancel</button>
				</span>
				<span>
					<button class="btn btn-pill-emph-teacher">Sign up</button>
				</span>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	<div class="modal-postscript">
		<p>Have an acccount? <a href="">Sign in</a></p>
	</div>
</div>
