{{!--
<div class="modal modal-student <!--fade-->" id="myModal" tabindex="-1" role="dialog" style="display: inherit;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<p class="modal-title">Student Signup</p>
			</div>
			<div class="modal-body">
				<button class="btn btn-pill-svg"><img src="images/logo-google.svg" alt="G"><span>Sign in with Google</span></button>

				<form>
					<p><input type="text" placeholder="Full Name"></p>
					<p><input type="email" placeholder="Email or Username"></p>
					<p><input type="password" placeholder="Password"></p>
				</form>


			</div>
			<div class="modal-footer">
					<span>
						<button class="btn btn-pill-student">Cancel</button>
					</span>
					<span>
						<button class="btn btn-pill-emph-student">Sign up</button>
					</span>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	<div class="modal-postscript">
		<p>Have an acccount? <a href="">Sign in</a></p>
		<p><a href="">Parent or Guardian?</a></p>
	</div>
</div><!-- /.modal -->
 --}}

{{!-- <!-- --->
<div class="modal <!--fade-->" id="myModal" tabindex="-1" role="dialog" style="display: inherit;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<p class="modal-title">Teacher Signup</p>
			</div>
			<div class="modal-body">
				<form>
					<p><input type="text" placeholder="Full Name"></p>
					<p><input type="text" placeholder="What do your students call you?"></p>
					<p><input type="email" placeholder="Email or Username"></p>
				</form>


			</div>
			<div class="modal-footer">
					<span>
					<button class="btn btn-pill-teacher">Cancel</button>
					</span>
					<span>
					<button class="btn btn-pill-emph-teacher">Sign up</button>
					</span>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	<div class="modal-postscript">
		<p>Have an acccount? <a href="">Sign in</a></p>
	</div>
</div> --}}


<!-- --->
<div class="modal modal-student modal-transparent <!--fade-->" id="myModal" tabindex="-1" role="dialog" style="display: inherit;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<p class="modal-title">Request Sent</p>

				<p class="large">
					Your request to join [[classNameVariable]] has been sent to your teacher for approval.
				</p>


			</div>
			<div class="modal-footer">
				<span>
					<button class="btn btn-pill-emph-teacher">Ok</button>
				</span>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>




{{!--
<!-- --->
<div class="modal <!--fade-->" id="myModal" tabindex="-1" role="dialog" style="display: inherit;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<p class="modal-title">Password Reset</p>

				<p class="large">
					Enter your email below to recieve your password reset instructions.
				</p>
			</div>
			<div class="modal-body">
					<input type="email" placeholder="Email">
			</div>
			<div class="modal-footer">
				<span>
					<button class="btn btn-pill-teacher">Cancel</button>
				</span>
				<span>
					<button class="btn btn-pill-emph-teacher">Submit</button>
				</span>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
 --}}

{{!--
<div class="modal modal-teacher <!--fade-->" id="myModal" tabindex="-1" role="dialog" style="display: inherit;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<p class="modal-title">Teacher Signup</p>
			</div>
			<div class="modal-body">
				<button class="btn btn-pill-svg"><img src="images/logo-google.svg" alt="G"><span>Log in with Google</span></button>
					<input type="email" placeholder="Username">
					<input type="password" placeholder="Password">
			</div>
			<div class="modal-footer">
				<span>
					<button class="btn btn-pill-teacher">Forgot</button>
				</span>
				<span>
					<button class="btn btn-pill-emph-teacher">Log in</button>
				</span>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	<div class="modal-postscript">
		Have an acccount? <a href="">Sign up</a>
	</div>
</div>
 --}}
