---
title: Academy
description: Another HBS Page
keywords: kiddom, studentss
author: Not Joshua Pekera
layout: container-fluid-with-header.hbs
---

<div class="row full-column">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-5 col-sm-push-5 text-holder vertical-center">
				<p class="heading-text">Resource Room</p>
				<p class="subheading-text font-color-red-5">
					By educators, for educators
				</p>
				<p>
				A resource by Kiddom to help you make better-informed decisions in the classroom.
				</p>
			</div>
			<div class="col-sm-5 col-sm-pull-6 col-md-4 col-md-pull-4 image-holder vertical-center hidden-xs">
						<img src="images/resource-room-hero.svg" >
			</div>
		</div>
	</div>
</div>

<div class="row full-column bg-color-lake-5 background bg-bottom-center bg-xs-contain bg-sm-cover"  style="background-image: url('images/resource_room-standards_bg.svg');">
	<div class="container">
		<div class="row height-xs-400 height-sm-600">
			<div class="col-sm-offset-1 col-lg-6 col-md-7 col-sm-8 text-holder pull-left  section-start section-end">
				<p class="heading-text">Evaluate and adapt with standards-based grading</p>
				<hr class="yellow-hr">
				<p>Align assignments with national and state standards, including the Common Core, and NGSS. You can even set your own custom standards to more effectively serve the learning goals of your classroom.
				</p>
				<p style="padding: 32px 0px;"><button class="btn btn-pill-flex2">Read More <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button> </p>
			</div>
		</div>
	</div>
</div>

<div class="row full-column bg-color-brown-5 background bg-bottom-center bg-xs-contain bg-sm-cover"   style="background-image: url('images/resource-room-methodologies-bg.svg');">
	<div class="container">
		<div class="row height-xs-400 height-sm-600">
			<div class="col-sm-offset-1 col-lg-5 col-md-6 col-sm-7 text-holder pull-left  section-start section-end vertical-center-solo">
				<p class="heading-text">Reflect your own teaching style</p>
				<hr class="yellow-hr">
				<p>Encourage student achievement with the most instructional model you're most comfortable with.
				</p>
				<p style="padding: 32px 0px;"><button class="btn btn-pill-flex2">Read More <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button> </p>
			</div>
		</div>
	</div>
</div>

<div class="row grid-of-squares teacher-voice bg-color-gray-9">
  <div class="container">
    <div class="row section-start">
      <div class="col-sm-12 grid-heading">
        <p class="heading-text" style="font-size: 3rem; text-align: center; display: inline-block">
          Teacher Voice
        </p>
        <p class="subheading-text">
        	Stories from Kiddom's community of teachers and advocates.
        </p>
      </div>
    </div>
    <div class="row section-end">
      <div class="col-md-4 col-sm-6 teacher-voice-entry">
        <div class="grid-square">
          <div class="image-holder">
            <img src="images/resource-room-methodologies-bg.svg">
          </div>
          <div class="text-holder">
            <div class="title">

            </div>
            <div class="subtitle">
            MM/DD/YYY
            </div>
            <hr class="yellow-hr">
            <div class="content">

            </div>
            <div class="linker">
            	<a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6  teacher-voice-entry">
        <div class="grid-square">
          <div class="image-holder">
            <img src="images/resource-room-methodologies-bg.svg">
          </div>
          <div class="text-holder">
            <div class="title">
            Title
            </div>
            <div class="subtitle">
            MM/DD/YYY
            </div>
            <hr class="yellow-hr">
            <div class="content">
            and the text
            </div>
            <div class="linker">
            	<a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6  teacher-voice-entry">
        <div class="grid-square">
          <div class="image-holder">
            <img src="images/resource-room-methodologies-bg.svg">
          </div>
          <div class="text-holder">
            <div class="title">

            </div>
            <div class="subtitle">
            MM/DD/YYY
            </div>
            <hr class="yellow-hr">
            <div class="content">

            </div>
            <div class="linker">
            	<a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row splash-header">
      <div class="col-sm-12">
				<a class="load-more bg-color-white" href="#">
       		<span>Load more</span>
 				</a>
      </div>
    </div>
  </div>
</div>

