---
title: Academy
description: Another HBS Page
keywords: kiddom, studentss
author: Not Joshua Pekera
layout: container-fluid-with-header.hbs
---

<div class="row full-column">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-offset-1 image-holder">
			</div>
			<div class="col-sm-6 col-md-4 text-holder">
				<p class="heading-text">Resource Room</p>
				<p class="subheading-text font-color-red-5">
					By educators, for educators
				</p>
				<p>
				A resource by Kiddom to help you make better-informed decisions in the classroom.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row full-column bg-color-lake-5 background bg-bottom-center bg-xs-contain bg-sm-cover"  style="background-image: url('images/resource_room-standards_bg.svg');">
	<div class="container">
		<div class="row height-xs-400 height-sm-550">
			<div class="col-sm-offset-1 col-lg-6 col-md-7 col-sm-8 text-holder pull-left  section-start section-end">
				<p class="heading-text">Evaluate and adapt with standards-based grading</p>
				<hr class="yellow-hr">
				<p>Align assignments with national and state standards, including the Common Core, and NGSS. You can even set your own custom standards to more effectively serve the learning goals of your classroom.
				</p>
				<p><button class="btn btn-pill-flex2">Read More <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button> </p>
			</div>
		</div>
	</div>
</div>

<div class="row full-column bg-color-brown-5 background bg-bottom-center bg-xs-contain bg-sm-cover" >
	<div class="container">
		<div class="row height-xs-400 height-sm-550">
			<div class="col-sm-offset-1 col-lg-5 col-md-6 col-sm-7 text-holder pull-left  section-start section-end">
				<p class="heading-text">Reflect your own teaching style</p>
				<hr class="yellow-hr">
				<p>Encourage student achievement with the most instructional model you're most comfortable with.
				</p>
				<p><button class="btn btn-pill-flex2">Read More <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button> </p>
			</div>
		</div>
	</div>
</div>

<div class="row grid-of-squares bg-color-gray-9">
  <div class="container">
    <div class="row section-start">
      <div class="col-sm-12 grid-heading margin-bottom-24">
        <img src="images/homepage-heart.svg" alt="Homepage heart">
        <div class="row corner-button-holder hidden-xs" style="float:right">
          <div class="col-xs-6">
            <button class="btn btn-round">
              <span>
                <img src="images//icon-facebook.svg" alt="f">
              </span>
            </button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-round">
              <span>
                <img src="images/icon-twitter.svg" alt="t">
              </span>
            </button>
          </div>
        </div>
        <p class="heading-text" style="font-size: 3rem; text-align: center; display: inline-block">
          Teacher Voice
        </p>
        <p class="subheading-text">
        	Stories from Kiddom's community of teachers and advocates.
        </p>
      </div>
    </div>
    <div class="row section-end">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="grid-square">
          <div class="feedback">
            <p>
              "wow...ok this is super cool! I'm really starting to like it! Thank you for all of your help!"
            </p>
          </div>
          <div class="details">
            <div class="avatar">
              <img src="images/avatar=teacher-2.svg" alt="Logo academy">
            </div>
            <div class="text">
              <p class="name">
                Mrs Menzer
              </p>
              <p class="title">
                Middle School
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="grid-square">
          <div class="feedback">
            <p>
              "Thank you for responding so quickly! It is nice to have support during 'teacher hours'"
            </p>
          </div>
          <div class="details">
            <div class="avatar">
              <img src="images/avatar=teacher-9.svg" alt="Logo academy">
            </div>
            <div class="text">
              <p class="name">
                Mr Albrecht
              </p>
              <p class="title">
                4th Grade
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="grid-square">
          <div class="feedback">
            <p>
              "Never in my career have I worked with a company so invested in doing what works for teachers"
            </p>
          </div>
          <div class="details">
            <div class="avatar">
              <img src="images/avatar=teacher-4.svg" alt="Logo academy">
            </div>
            <div class="text">
              <p class="name">
                Tanya King
              </p>
              <p class="title">
                5th Grade
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row splash-header">
    	<a href="#">
	      <div class="col-sm-12">
	        <div class="full-row-spread bg-color-white section-end">
	          <h5>
	            Load more
	          </h5>
	        </div>
	      </div>
      </a>
    </div>
  </div>
</div>

