---
title: Academy
description: Another HBS Page
keywords: kiddom, studentss
author: Not Joshua Pekera
layout: container-fluid-with-header.hbs
---

<div class="row splash-header bg-color-brown-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-6  col-sm-offset-2 col-md-offset-3 text-holder">
				<p class= "breadcrumbs"><a href="#">Kiddom</a> / <a href="#">Resource Room</a> / <a href="#">Teaching Styles</a></p>
				<p class="heading-text">Reflect your own teaching style</p>
				<hr class="turquoise-hr" style="margin-left: auto"><br>
			</div>
		</div>
	</div>
</div>


<div class="row third-column-holder section-start section-end bg-color-white typography-teaching-styles">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-3 col-sm-4">
				<div class="row third-column">
				<div class="image-holder">
						<img src="images/resource-room-methodologies-personalized.svg" >
					</div>
					<div class="text-holder">
						<h4>Personalized Learning</h4>
						<hr class="turquoise-hr"/>
						<p>
						Focusing on the needs of the individual
						</p>

            <div class="linker">
            	<a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-3 col-sm-4">
				<div class="row third-column">
				<div class="image-holder">
						<img src="images/resource-room-methodologies-blended.svg" >
					</div>
					<div class="text-holder">
						<h4>Blended Learning</h4>
						<hr class="turquoise-hr"/>
						<p>
							Combining the traditional approach with technology
						</p>

            <div class="linker">
            	<a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-3 col-sm-4">
				<div class="row third-column">
				<div class="image-holder">
						<img src="images/resource-room-methodologies-flipped.svg" >
					</div>
					<div class="text-holder">
						<h4>Flipped Classroom</h4>
						<hr class="turquoise-hr"/>
						<p>
							Self-guided study, with hands-on collaboration
						</p>

            <div class="linker">
            	<a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row full-column bg-color-brown-5 typography-teaching-styles height-sm-850 background bg-bottom-center bg-xs-contain bg-sm-contain"   style="background-image: url('images/resource-room-methodologies-bg.svg');">
	<div class="container">
		<div class="row section-start">
			<div class="col-md-offset-1 col-md-6 col-sm-8 text-holder">
				<p class="heading-text">Teaching Styles</p>
				<hr class="yellow-hr">
				<p class="large">
				Kiddom believes educators deserve effective technology to match their respective teaching styles. Every educator uses Kiddom in their own way, with their own level of comfort.</p>

				<p class="large">
				Some teachers keep it simple and utilize Kiddom’s gradebook for its ease of use. Other teachers go a step farther and use Kiddom’s mastery reports to understand what content to differentiate and personalize for students. Some teachers leverage Kiddom to implement blended learning models, while others completely flipped their classrooms.</p>

				<p class="large">
				The bottom line is the right way to use Kiddom is in your own way, reflecting your own style. Consider us your teacher sidekick. We’ll follow your lead.
				</p>

			</div>
			<div class="col-sm-4 col-sm-offset-1">
				<div class="square-box bg-color-white" style="text-align: center;">
          <img src="im">
          <p class="medium">Ready to empower your classroom?</p>
          <a href="#" class="btn btn-pill-sign-up">Sign up free</a>


				</div>
			</div>
		</div>
	</div>
</div>

