---
title: Academy
description: Another HBS Page
keywords: kiddom, studentss
author: Not Joshua Pekera
layout: container-fluid-with-header.hbs
---

<div class="row splash-header bg-color-lake-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-6  col-sm-offset-2 col-md-offset-3 text-holder">
				<p class= "breadcrumbs"><a href="#">Kiddom</a> / <a href="#">Resource Room</a> / <a href="#">Standards</a></p>
				<p class="heading-text">Evaluate and adapt with standards based grading</p>
				<hr class="yellow-hr" style="margin-left: auto"><br>
			</div>
		</div>
	</div>
</div>


<div class="row third-column-holder bg-color-white typography-teaching-standards section-start section-end">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-3 col-sm-4">
				<div class="row third-column">
					<div class="image-holder">
						<img src="images/" >
					</div>
					<div class="text-holder">
						<h4>State</h4>
						<hr class="yellow-hr"/>
						<p>
							State-specific learning standards (e.g. TEKS, IDOE)
						</p>
            <div class="linker">
            	<a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-3 col-sm-4">
				<div class="row third-column">
					<div class="image-holder">
						<img src="images/" >
					</div>
					<div class="text-holder">
						<h4>National</h4>
						<hr class="yellow-hr"/>
						<p>
							National learning standards (e.g. Common Core, NGSS)
						</p>
            <div class="linker">
            	<a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-3 col-sm-4">
				<div class="row third-column">
					<div class="image-holder">
						<img src="images/" >
					</div>
					<div class="text-holder">
						<h4>Custom</h4>
						<hr class="yellow-hr"/>
						<p>
							Write your own standards.
						</p>
            <div class="linker">
            	<a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row full-column bg-color-lake-5 typography-teaching-standards  background bg-bottom-center bg-xs-contain bg-sm-cover"     style="background-image: url('images/resource_room-standards_bg.svg');">
	<div class="container">
		<div class="row section-start sm-padding-bottom-320">
			<div class="col-md-offset-1 col-md-7 col-sm-8 text-holder">
				<p class="heading-text">Standards-based Grading</p>
				<hr class="yellow-hr">
				<p class="large">
				Grades should have meaning.<br></p>

				<p class="large">
					Standards-based grading brings a new depth of understanding to grades and places importance on what students learn over how much work students do. Standards-based grading describes student progress in relation to standards, allowing students to recognize both strength and growth areas. A student can demonstrate mastery of a set of standards and move on to a more challenging set of standards.
				</p>

				<p class="large">
					Kiddom considers learning goals, outcomes, competencies, and objectives universally as <b>standards</b>. Kiddom’s gradebook is preloaded with national learning standards (e.g. Common Core, NGSS), as well as state-specific learning standards (e.g. TEKS, IDOE).</p>

				<p class="large">
					Kiddom also empowers teachers with the ability to write their own standards. Teachers may write custom standards to enhance a set of national/state standards or if their content area lacks national/state standards. In addition, teachers may add character (or behavioral) traits as custom standards to track socio-emotional growth in tandem with academic growth.
				</p>

			</div>
			<div class="col-sm-4">
				<div class="square-box bg-color-white" style="text-align: center;">
          <img src="im">
          <p class="medium">Ready to empower your classroom?</p>
          <a href="#" class="btn btn-pill-sign-up">Sign up free</a>


				</div>
			</div>
		</div>
	</div>
</div>

