---
title: Academy
description: Another HBS Page
keywords: kiddom, studentss
author: Not Joshua Pekera
layout: search.hbs
---
<div class="row splash-header height-xs-vh vh-head height-sm-650 initial-search">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

				<div>
					<p class="heading-text">
						What do you want to teach?
					</p>
		  		<p><input type="text"></p>
		  		<p class="tiny">	Example: How to multiply and divide fractions</p>
		  		<p><a href="#" class="btn btn-pill-emph-orange">Search</a></p>

			  </div>
			</div>
		</div>
	</div>
</div>


<!-- search result template -->
<div class="row splash-header search-results bg-color-gray-8">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">

				<div class="row search-result">
					<div class="col-sm-10">
						<p class="heading-text">
							How to Multiply and Divide Fractions in Algebra For Dummies
						</p>
						<p class="content">This video shows how to multiply and divide fractions by multiplying the numerators and denominators — even if the fractions have unlike denominators. In alg...</p>
						<p class="tags">Math.CC.1.G.A.1, Math.CC.1.G.A.1, Math.CC.1.G.A.1, Math.CC.1.G.A.1 from CK-12</p>
					</div>
					<div class="col-sm-2 assigner">
						<a href="##" class="">
							Assign <span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>

				<div class="row search-result">
					<div class="col-sm-10">
						<p class="heading-text">
							How to Multiply and Divide Fractions in Algebra For Dummies
						</p>
						<p class="content">This video shows how to multiply and divide fractions by multiplying the numerators and denominators — even if the fractions have unlike denominators. In alg...</p>
						<p class="tags">Math.CC.1.G.A.1, Math.CC.1.G.A.1, Math.CC.1.G.A.1, Math.CC.1.G.A.1 from CK-12</p>
					</div>
					<div class="col-sm-2 assigner">
						<a href="##" class="">
							Assign <span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>

				<div class="row search-result">
					<div class="col-sm-10">
						<p class="heading-text">
							How to Multiply and Divide Fractions in Algebra For Dummies
						</p>
						<p class="content">This video shows how to multiply and divide fractions by multiplying the numerators and denominators — even if the fractions have unlike denominators. In alg...</p>
						<p class="tags">Math.CC.1.G.A.1, Math.CC.1.G.A.1, Math.CC.1.G.A.1, Math.CC.1.G.A.1 from CK-12</p>
					</div>
					<div class="col-sm-2 assigner">
						<a href="##" class="">
							Assign <span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>

				<div class="row search-result">
					<div class="col-sm-10">
						<p class="heading-text">
							How to Multiply and Divide Fractions in Algebra For Dummies
						</p>
						<p class="content">This video shows how to multiply and divide fractions by multiplying the numerators and denominators — even if the fractions have unlike denominators. In alg...</p>
						<p class="tags">Math.CC.1.G.A.1, Math.CC.1.G.A.1, Math.CC.1.G.A.1, Math.CC.1.G.A.1 from CK-12</p>
					</div>
					<div class="col-sm-2 assigner">
						<a href="##" class="">
							Assign <span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>


					<!-- no results page -->
				<div class="row no-results">
					<div class="col-sm-12">
						<p class="heading-text">
							We couldn't find anything like that
						</p>
						<p class="subheading">
							Try searching for something different or simplify your search.
						</p>
						<img src="#">
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<div class="row splash-header one-result bg-color-white">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
				<p class="heading-text">
					Forms of Ratios Examples
				</p>
				<hr class="blue-hr">
				<p class="large">
					This video shows how to work step-by-step through one or more of the examples in Forms of Ratios.
				</p>
				<p class="heading-source">
					Grade 8 Material from <a href="#">CK-12</a>
				</p>
				<span>
					<a href="#" class="btn btn-pill-blue">Preview</a>
					<a href="#" class="btn btn-pill-emph-blue">Assign</a>
				</span>
				<hr>
				<div class="standards">
					<p class="heading-text">
						Standards
					</p>
					<p class="subheading-text">
						6.RP.3.a
					</p>
					<p class="medium">
						Make tables of equivalent rations relating quantities with whole-number measurements, find missing values in the tables, and plot the pairs of values on the coordinate plane. Use tables to compare ratios.
					</p>

					<p class="subheading-text">
						G.SRT.1.a
					</p>
					<p class="medium">
						A dilation takes a line not passing through the center of the dilation to a parallel line, and leaves a line passing through the center unchanged.
					</p>
				</div>

				<div class="col-md-12 rubrics">
					<div class="row title-block">
						<div class="col-md-12">
							Performance
						</div>
					</div>
					<div class="row">
						<div class="col-sm-1 col-xs-2 numbering">
							1
						</div>
						<div class="col-sm-11 col-xs-10 content">
						<p>A dilation takes a line not passing through the center of the dilation to a parallel line, and leaves a line passing through the center unchanged.A dilation takes a line not passing through the center of the dilation to a parallel line, and leaves a line passing through the center unchanged.</p>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-1 col-xs-2 numbering">
							2
						</div>
						<div class="col-sm-11 col-xs-10 content">
							<p>A dilation takes a line not passing through the center of the dilation to a parallel line, and leaves a line passing through the center unchanged.A dilation takes a line not passing through the center of the dilation to a parallel line, and leaves a line passing through the center unchanged.
							</p>
						</div>
					</div>


					<div class="row">
						<div class="col-sm-1 col-xs-2 numbering">
							3
						</div>
						<div class="col-sm-11 col-xs-10 content"><p>All basic criteria are met</p></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>




