---
title: Students?
description: Another HBS Page
keywords: kiddom, studentss
author: Not Joshua Pekera
layout: container-fluid-with-header.hbs
---

<div class="row"  style="padding-top: 80px;">
</div>
<div class="row bg-color-purple-5 full-column background-middle-right-spill">
	<div class="container">
		<div class="row module-height-section-head ">
			<div class="col-md-offset-6 col-md-5 text-holder vertical-center-solo">
				<h2>The Student Becomes the Master</h2>
				<hr class="transparent-hr"/>
				<button class="btn btn-pill-flex2">Test input</button>
			</div>
		</div>
	</div>
</div>

<div class="row half-column-holder">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-5"><!-- <<TODO>> Call this half-column and include specs in css-->
				<div class="row half-column">
					<div class="image-holder">
						<img src="/images/circle-yellow.png" >
					</div>
					<div class="text-holder">
						<h3>Join a class</h3>
						<p class="medium">
							<em>Start your new account
							</em>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row half-column">
					<div class="image-holder">
						<img src="/images/circle-yellow.png" >
					</div>
					<div class="text-holder">
						<h3>Log in</h3>
						<p class="medium">
							<em>Welcome back
							</em>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row full-column-holder">
	<div class="container">
		<div class="row full-column">
			<div class="col-md-5 col-md-offset-1 text-holder vertical-center">
					<h1>Finally, all assignments in one place</h1>
					<hr class="green-hr">
					<p class="medium">
						Students can see all of their papers, videos, quizzes, practice worksheets, and more — all within the app.
					</p>
			</div>
			<div class="col-md-6 image-holder vertical-center">
				<img src="/images/circle-yellow.png" >
			</div>
		</div>
	</div>
</div>
<div class="row full-column">
	<div class="container">
		<div class="row full-column">
			<div class="col-md-6 image-holder vertical-center">
				<img src="/images/circle-yellow.png" >
			</div>
			<div class="col-md-5 text-holder vertical-center">
					<h1>21st century students move fast</h1>
					<hr class="purple-hr">
					<p class="medium">Students get access to detailed achievement reports in real-time. Easily understandable graphs show what they mastered, what needs work, and what to focus on next.
					</p>
			</div>
		</div>
	</div>
</div>
<div class="row full-column">
	<div class="container">
		<div class="row full-column">
			<div class="col-md-5 col-md-offset-1 text-holder vertical-center">
					<h1>Ask questions and get feedback</h1>
					<hr class="blue-hr">
					<p class="medium">
						Instant communication between teachers and students creates and uninterrupted learning process and helps students complete assignments.
					</p>
			</div>
			<div class="col-md-6 image-holder vertical-center">
				<img src="/images/circle-yellow.png" >
			</div>
		</div>
	</div>
</div>

<div class="row splash-header bg-color-purple-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-holder">
				<img src="/images/logo-learn.svg" style="width: 100px;">
				<p class="header-text">Ready to join your class</p>
			</div>
		</div>
	</div>
</div>

<div class="row splash-header bg-color-purple-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="square-box">
					<p>Pick your Kiddom avatar!</p>
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<img src="/images/circle-yellow.png" >
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<img src="/images/circle-yellow.png" >
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<img src="/images/circle-yellow.png" >
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<img src="/images/circle-yellow.png" >
						</div>
					</div>
					<p><em>or</em></p>
					<button class="btn btn-pill-gray">Upload a photo</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row splash-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-holder">
				<p class="header-text"><img src="/images/logo-teach.svg" > Learn how teachers can empower the classroom</p>
			</div>
		</div>
	</div>
</div>

