---
title: Students?
description: Another HBS Page
keywords: kiddom, studentss
author: Not Joshua Pekera
layout: container-fluid-with-header.hbs
---

<div class="row bg-color-student-head full-column image-spiller">
	<div class="container">
		<div class="row height-sm-450">
			<div class="col-sm-6 image-spill-left">
				<img src="images/students-hero.svg" alt="students-hero">


			</div>
			<div class="col-sm-5 text-holder vertical-center-solo">
				<p class="heading-text">The Student Becomes the Master</p>
				<hr class="transparent-hr"/>
				Students own their education by accessing assignments, detailed reports, and timely feedback on their work.
			</div>
		</div>
	</div>
</div>

<div class="row half-column-holder">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-5 col-sm-6"><!-- <<TODO>> Call this half-column and include specs in css-->
				<div class="row half-column">
					<div class="image-holder col-sm-3 col-xs-3 vertical-center-xs">
						<img src="images/students-join_class.svg"  alt="students-join" >
					</div>
					<div class="text-holder col-sm-8 col-xs-8  vertical-center-xs">
						<p class="heading-text font-color-turquoise-5">Join a class</p>
						<p class="medium">
							<em>Start your new account
							</em>
						</p>
					</div>
					<span class="glyphicon glyphicon-menu-right arrow arrow-student visible-xs"></span>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-6">
				<div class="row half-column">
					<div class="image-holder col-sm-4 col-xs-3  vertical-center-xs">
						<img src="images/students-log_in.svg"  alt="students-login">
					</div>
					<div class="text-holder col-sm-8 col-xs-8  vertical-center-xs">
						<p class="heading-text font-color-yellow-5">Log in</p>
						<p class="medium">
							<em>Welcome back
							</em>
						</p>
					</div>
					<span class="glyphicon glyphicon-menu-right arrow arrow-student visible-xs"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row splash-header  hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-md-12 image-holder">
				<img src="images/student-cycle-of-learning.png" alt="student cycle of learning">
			</div>
		</div>
	</div>
</div>


<div class="row full-column">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-push-6 image-holder image-align-left vertical-center">
				<img src="images/students-all_assignments.svg"  alt="students-all_assignments">
			</div>
			<div class="col-sm-5 col-sm-offset-1 col-sm-pull-6 text-holder vertical-center">
					<p class="heading-text">Finally, all assignments in one place</p>
					<hr class="green-hr">
					<p class="medium">
						Students can see all of their papers, videos, quizzes, practice worksheets, and more — all within the app.
					</p>
			</div>
		</div>
	</div>
</div>
<div class="row full-column">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 image-holder image-align-right vertical-center">
				<img src="images/students-21st_century_students.svg"  alt="students-21st">
			</div>
			<div class="col-sm-5 text-holder vertical-center">
					<p class="heading-text">21st century students move fast</p>
					<hr class="purple-hr">
					<p class="medium">Students get access to detailed achievement reports in real-time. Easily understandable graphs show what they mastered, what needs work, and what to focus on next.
					</p>
			</div>
		</div>
	</div>
</div>
<div class="row full-column">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-push-6 image-holder image-align-left vertical-center">
				<img src="images/students-ask_questions_get_feedback.svg"  alt="students-ask_questions" >
			</div>
			<div class="col-sm-5 col-sm-offset-1 col-sm-pull-6 text-holder vertical-center">
					<p class="heading-text">Ask questions and get feedback</p>
					<hr class="blue-hr">
					<p class="medium">
						Instant communication between teachers and students creates and uninterrupted learning process and helps students complete assignments.
					</p>
			</div>
		</div>
	</div>
</div>

<div class="row splash-header bg-color-purple-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 image-holder section-start">
				<img src="images/logo-learn-inverted.svg" style="width: 100px;"  alt="learn-logo">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-holder">
				<p class="heading-text">Ready to join your class?</p>
			</div>
		</div>
	</div>
</div>

<div class="row splash-header bg-color-purple-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="square-box bg-color-white section-end">
					<p><h4>Pick your Kiddom avatar!</h4></p>
					<div class="row avatar-container">
						<div class="col-md-3 col-xs-6">
							<img src="images/circle-yellow.png" >
						</div>
						<div class="col-md-3 col-xs-6">
							<img src="images/circle-yellow.png" >
						</div>
						<div class="col-md-3 col-xs-6">
							<img src="images/circle-yellow.png" >
						</div>
						<div class="col-md-3 col-xs-6">
							<img src="images/circle-yellow.png" >
						</div>
					</div>
					<p><em>or</em></p>
					<button class="btn btn-pill-subtle">Upload a photo</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row splash-header">
			<div class="col-md-12 text-holder  row-link">
				<a href="#" class="">
					<img src="images/logo-teach.svg"  alt="teach-logo">
					<p class="font-color-blue-5 heading-text">Learn how teachers can empower the classroom</p>
				</a>
			</div>
</div>

