---
component: Buttons2
---


<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-md-12"><p class="heading-text">Button Styles</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<p class="heading-text">Primary Styles (btn-pill-*)</p>
						<p>Come in all colors of colour sheet at setting number five for each (e.g. red-5)
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-red">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-blue">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-green">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-purple">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-brown">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-stachio">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-turquoise">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-orange">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-grass">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-rouge">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-lake">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-yellow">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-plum">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-gray">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-black">Read More</button>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<p class="heading-text">Emphasized Styles (btn-pill-emph-*)</p>
						<p>Come in all colors of colour sheet at setting number five for each (e.g. red-5)
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-red">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-blue">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-green">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-purple">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-brown">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-stachio">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-turquoise">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-orange">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-grass">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-rouge">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-lake">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-yellow">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-plum">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-gray">Read More</button>
					</div>
					<div class="col-lg-4 col-md-6">
						<button class="btn btn-pill-emph-black">Read More</button>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<p class="heading-text">Emphasized Styles (btn-pill-flex2)</p>
						<p>Built into background colors class in less</p>
					</div>
					<div class="col-md-6 bg-color-red-5">
						<button class="btn btn-pill-flex2">.bg-color-red-5 <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-blue-5">
						<button class="btn btn-pill-flex2">.bg-color-blue-5 <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-purple-5">
						<button class="btn btn-pill-flex2">.bg-color-purple-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-green-5">
						<button class="btn btn-pill-flex2">.bg-color-green-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-brown-5">
						<button class="btn btn-pill-flex2">.bg-color-brown-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-stachio-5">
						<button class="btn btn-pill-flex2">.bg-color-stachio-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-turq-5">
						<button class="btn btn-pill-flex2">.bg-color-turq-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-orange-5">
						<button class="btn btn-pill-flex2">.bg-color-orange-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-grass-5">
						<button class="btn btn-pill-flex2">.bg-color-grass-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-rouge-5">
						<button class="btn btn-pill-flex2">.bg-color-rouge-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-lake-5">
						<button class="btn btn-pill-flex2">.bg-color-lake-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-yellow-5">
						<button class="btn btn-pill-flex2">.bg-color-yellow-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-plum-5">
						<button class="btn btn-pill-flex2">.bg-color-plum-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
					<div class="col-md-6 bg-color-gray-5">
						<button class="btn btn-pill-flex2">.bg-color-gray-5  <span class="glyphicon glyphicon-chevron-right glyhpicon-align-tight-right"></span></button>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						Other assorted buttons
						<p>A variety of other buttons currently in use
					</div>
					<div class="col-md-12">
						AppStore (.btn-pill-emph-red .btn-social-media)
					</div>
					<div class="col-md-12">
						<button class="btn btn-pill-emph btn-social-media">
							<img src="images/icon-app_store_ios.svg">
						</button>
					</div>
					<div class="col-md-12">
						Google Sign in (.btn-pill-svg)
					</div>
					<div class="col-md-12">
						<button class="btn btn-pill-svg">
							<img src="images/logo-google.svg" alt="G"><span>Sign in with Google</span>
						</button>
					</div>
					<div class="col-md-12">
						Homepage header button (.btn-pill-chunky-no-border)
					</div>
					<div class="col-md-12">
						<button class="btn btn-pill-chunky-no-border">Sign Up</button>
					</div>
					<div class="col-md-12">
						Rounded buttons (.btn-round)
					</div>
					<div class="col-md-12">
						<button class="btn btn-round"><span><img src="images/icon-facebook.svg"></span></button>
						<button class="btn btn-round"><span><img src="images/icon-twitter.svg"></span></button>
					</div>
					<div class="col-md-6">

					</div>
					<div class="col-md-6">

					</div>
					<div class="col-md-6">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
