---
component: Button Styles
---


<div class="row">
	<div class="col-md-12">
	<h2>{{component}}</h2>

	<h1>Button Styles</h1><hr>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<div class="row">
			<div class="col-md-12">
				<p class='guide-titles  guide-centered'>
				Primary (White BG)
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p class="guide-details guide-centered">default</p>
			</div>
			<div class="col-md-6">
				<p class="guide-details guide-centered">hover/pressed</p>
			</div>
		</div>
		<hr>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill" value='Learn more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill hoverer" value='Learn more' />
			</div>
		</div>
		<hr>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-teacher" value='Learn more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-teacher hoverer" value='Learn more' />
			</div>
		</div>
		<hr>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-student" value='Learn more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-student hoverer" value='Learn more' />
			</div>
		</div>
		<hr>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-academy" value='Learn more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-academy hoverer" value='Learn more' />
			</div>
		</div>
	</div>

	<div class="col-md-2">
		<div class="row btn-style-rows">
		<hr><hr><hr>
		</div>
		<div class="row btn-style-rows">
				<p class="guide-details guide-centered">Kiddom General</p>
		</div>
		<hr>
		<div class="row btn-style-rows">
				<p class="guide-details guide-centered">/Teachers</p>
		</div>
		<hr>
		<div class="row btn-style-rows">
				<p class="guide-details guide-centered">/Students</p>
		</div>
		<hr>
		<div class="row btn-style-rows">
				<p class="guide-details guide-centered">/Academy</p>
		</div>
		<hr>
	</div>
	<div class="col-md-5">
		<div class="row">
			<div class="col-md-12">

				<p class='guide-titles guide-centered guide-bolded'>
				Primary Emphasized (White BG)
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p class="guide-details guide-centered">default</p>
			</div>
			<div class="col-md-6">
				<p class="guide-details guide-centered">hover/pressed</p>
			</div>
		</div>
		<hr>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-emph" value='Learn more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-emph hoverer" value='Learn more' />
			</div>
		</div>
		<hr>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-emph-teacher" value='Sign up' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-emph-teacher hoverer" value='Sign up' />
			</div>
		</div>
		<hr>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-emph-student" value='Get started' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-emph-student hoverer" value='Get started' />
			</div>
		</div>
		<hr>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-emph-academy" value='Join your class' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-emph-academy hoverer" value='Join your class' />
			</div>
		</div>
	</div>
</div>
<div class="row btn-style-rows">
	<div class="col-md-5">
		<p class='guide-titles guide-centered'>
		Primary Flexible
		</p>
		<div class="row btn-style-rows row-bg1">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-a" value='Check it out' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-a hoverer" value='Sign up' />
			</div>
		</div>
		<div class="row btn-style-rows row-bg2">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-b" value='Download' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-b hoverer" value='Download' />
			</div>
		</div>
		<div class="row btn-style-rows row-bg3">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-c" value='Read more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-c hoverer" value='Read more' />
			</div>
		</div>
		<div class="row btn-style-rows row-bg4">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-d" value='Learn more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-d hoverer" value='Learn more' />
			</div>
		</div>
	</div>
	<div class="col-md-5 col-md-offset-2">
		<p class='guide-titles  guide-centered'>
		Secondary Flexible
		</p>
		<div class="row btn-style-rows row-bg1">
			<div class="col-md-6">
				<button class="btn btn-pill-flex2-bg1"><span class="glyphicon glyphicon-chevron-right pull-right"></span>Check it out</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-pill-flex2-bg1 hoverer"><span class="glyphicon glyphicon-chevron-right pull-right"></span>Check it out</button>
			</div>
		</div>
		<div class="row btn-style-rows row-bg2">
			<div class="col-md-6">
				<button  class="btn btn-pill-flex2-bg2"><span class="glyphicon glyphicon-chevron-right pull-right"></span>Sign up</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-pill-flex2-bg2 hoverer"><span class="glyphicon glyphicon-chevron-right pull-right"></span>Sign up</button>
			</div>
		</div>
		<div class="row btn-style-rows row-bg3">
			<div class="col-md-6">
				<button class="btn btn-pill-flex2-bg3"><span class="glyphicon glyphicon-chevron-right pull-right"></span>Download</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-pill-flex2-bg3 hoverer"><span class="glyphicon glyphicon-chevron-right pull-right"></span>Download</button>
			</div>
		</div>
		<div class="row btn-style-rows row-bg4">
			<div class="col-md-6">
				<button class="btn btn-pill-flex2-bg4"><span class="glyphicon glyphicon-chevron-right pull-right"></span>Read more</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-pill-flex2-bg4 hoverer"><span class="glyphicon glyphicon-chevron-right pull-right"></span>Read more</button>
			</div>
		</div>
	</div>
</div>

<div class="row btn-style-rows">
	<div class="col-md-5">
		<div class="row">
			<div class="col-md-12">
				<p class='guide-titles guide-centered guide-bolded'>
				Tertiary / Misc. Collection View Buttons
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p class="guide-details guide-centered">default</p>
			</div>
			<div class="col-md-6">
				<p class="guide-details guide-centered">hover/pressed</p>
			</div>
		</div>
		<div class="row btn-style-rows" style="background:gray;">
			<div class="col-md-6">
				<button class="btn btn-pill-tertiary"><span class="glyphicon glyphicon-chevron-right push-right"></span><span>Sign in with Google</span></button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-pill-tertiary hoverer"><span class="glyphicon glyphicon-chevron-right push-right"></span><span>Sign in with Google</span></button>
			</div>
		</div>
		<div class="row btn-style-rows" style="background:gray;">
			<div class="col-md-6">
				<button class="btn btn-pill-tertiary"><span class="glyphicon glyphicon-chevron-right push-right"></span><span>Follow us on twitter</span></button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-pill-tertiary hoverer"><span class="glyphicon glyphicon-chevron-right push-right"></span><span>Follow us on twitter</span></button>
			</div>
		</div>
	</div>
	<div class="col-md-5 col-md-offset-2">
		<div class="row">
			<div class="col-md-12">
				<p class='guide-titles guide-centered guide-bolded'>
				Misc Badges <!-- <<TODO>> this probably should all be fixed rather than grid-->
				</p>
			</div>
		</div>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<button class="btn btn-pill-emph btn-social-media">
					<div class="row">
						<div class="col-xs-2">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="col-xs-10">
							<p class="appStore-dl">Download on the</p>
							<p class="appStore-text">AppStore</p>
						</div>
				</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn btn-pill-emph btn-social-media hoverer">
					<div class="row">
						<div class="col-xs-2">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						<div class="col-xs-10">
							<p class="appStore-dl">Download on the</p>
							<p class="appStore-text">AppStore</p>
						</div>
					</div>
				</button>
			</div>
		</div>
	</div>
</div>
