---
component: Button Styles
---


<h2>{{component}}</h2>

<div class="row row-buffer">
	<h1>Button Styles</h1>
</div>
<div class="row">
	<div class="col-md-6">

		<p class='guide-titles'>
		Primary (White BG)
		</p>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<p class="guide-details">default</p>
			</div>
			<div class="col-md-6">
				<p class="guide-details">hover/pressed</p>
			</div>
		</div>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill" value='Learn more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Learn more' />
			</div>
		</div>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-teacher" value='Learn more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Learn more' />
			</div>
		</div>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-student" value='Learn more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Learn more' />
			</div>
		</div>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-academy" value='Learn more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Learn more' />
			</div>
		</div>
	</div>
	<div class="col-md-6">

		<p class='guide-titles'>
		Primary Emphasized (White BG)
		</p>
		<div class="row btn-style-rows">
			<div class="col-md-6">
				<p class="guide-details">default</p>
			</div>
			<div class="col-md-6">
				<p class="guide-details">hover/pressed</p>
			</div>
		</div>
		<div class="row btn-style-rows">
				<div class="col-md-6">
					<input type='button' class="btn btn-pill-emph" value='Learn more' />
				</div>
				<div class="col-md-6">
					<input type='button' class="btn btn-primary" value='Learn more' />
				</div>
			</div>
			<div class="row btn-style-rows">
				<div class="col-md-6">
					<input type='button' class="btn btn-pill-emph-teacher" value='Sign up' />
				</div>
				<div class="col-md-6">
					<input type='button' class="btn btn-primary" value='Sign up' />
				</div>
			</div>
			<div class="row btn-style-rows">
				<div class="col-md-6">
					<input type='button' class="btn btn-pill-emph-student" value='Get started' />
				</div>
				<div class="col-md-6">
					<input type='button' class="btn btn-primary" value='Get started' />
				</div>
			</div>
			<div class="row btn-style-rows">
				<div class="col-md-6">
					<input type='button' class="btn btn-pill-emph-academy" value='Join your class' />
				</div>
				<div class="col-md-6">
					<input type='button' class="btn btn-primary" value='Join your class' />
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<p class='guide-titles'>
		Primary Flexible
		</p>
		<div class="row btn-style-rows row-bg1">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-a" value='Check it out' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Sign up' />
			</div>
		</div>
		<div class="row btn-style-rows row-bg2">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-b" value='Download' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Download' />
			</div>
		</div>
		<div class="row btn-style-rows row-bg3">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-c" value='Read more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Read more' />
			</div>
		</div>
		<div class="row btn-style-rows row-bg4">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex1-d" value='Learn more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Learn more' />
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<p class='guide-titles'>
		Secondary Flexible
		</p>
		<div class="row btn-style-rows row-bg1">
			<div class="col-md-6">
				<button class="btn btn-pill-flex2-bg1">Check it out<span class="glyphicon glyphicon-chevron-right"></span></button>
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Check it out' />
			</div>
		</div>
		<div class="row btn-style-rows row-bg2">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex2-bg2" value='Sign up' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Sign up' />
			</div>
		</div>
		<div class="row btn-style-rows row-bg3">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex2-bg3" value='Download' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Download' />
			</div>
		</div>
		<div class="row btn-style-rows row-bg4">
			<div class="col-md-6">
				<input type='button' class="btn btn-pill-flex2-bg4" value='Read more' />
			</div>
			<div class="col-md-6">
				<input type='button' class="btn btn-primary" value='Read more' />
			</div>
		</div>
	</div>
</div>
