---
component: Colors
---

<div class="row">
	<div class="col-md-12">
	<h2>{{component}}</h2>

	<h1>Color Palette</h1><hr>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<h2>{{component}}</h2>

		<p class="guide-titles">
			Brand
		</p>
	</div>
</div>


<div class="row">
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-red-1 color-display-styling"></div>
				<div class="row bg-color-red-2 color-display-styling"></div>
				<div class="row bg-color-red-3 color-display-styling"></div>
				<div class="row bg-color-red-4 color-display-styling"></div>
				<div class="row bg-color-red-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-red-6 color-display-styling"></div>
				<div class="row bg-color-red-7 color-display-styling"></div>
				<div class="row bg-color-red-8 color-display-styling"></div>
				<div class="row bg-color-red-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					Kiddom Red
				</p>
				<p class="color-details">
					#ff6152
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-green-1 color-display-styling"></div>
				<div class="row bg-color-green-2 color-display-styling"></div>
				<div class="row bg-color-green-3 color-display-styling"></div>
				<div class="row bg-color-green-4 color-display-styling"></div>
				<div class="row bg-color-green-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-green-6 color-display-styling"></div>
				<div class="row bg-color-green-7 color-display-styling"></div>
				<div class="row bg-color-green-8 color-display-styling"></div>
				<div class="row bg-color-green-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					Academy Green
				</p>
				<p class="color-details">
					#24e88b
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-purple-1 color-display-styling"></div>
				<div class="row bg-color-purple-2 color-display-styling"></div>
				<div class="row bg-color-purple-3 color-display-styling"></div>
				<div class="row bg-color-purple-4 color-display-styling"></div>
				<div class="row bg-color-purple-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-purple-6 color-display-styling"></div>
				<div class="row bg-color-purple-7 color-display-styling"></div>
				<div class="row bg-color-purple-8 color-display-styling"></div>
				<div class="row bg-color-purple-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					Learn Purple
				</p>
				<p class="color-details">
					#8f80ff
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-blue-1 color-display-styling"></div>
				<div class="row bg-color-blue-2 color-display-styling"></div>
				<div class="row bg-color-blue-3 color-display-styling"></div>
				<div class="row bg-color-blue-4 color-display-styling"></div>
				<div class="row bg-color-blue-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-blue-6 color-display-styling"></div>
				<div class="row bg-color-blue-7 color-display-styling"></div>
				<div class="row bg-color-blue-8 color-display-styling"></div>
				<div class="row bg-color-blue-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					Teach Blue
				</p>
				<p class="color-details">
					#1cb9ff
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-gray-1 color-display-styling"></div>
				<div class="row bg-color-gray-2 color-display-styling"></div>
				<div class="row bg-color-gray-3 color-display-styling"></div>
				<div class="row bg-color-gray-4 color-display-styling"></div>
				<div class="row bg-color-gray-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-gray-6 color-display-styling"></div>
				<div class="row bg-color-gray-7 color-display-styling"></div>
				<div class="row bg-color-gray-8 color-display-styling"></div>
				<div class="row bg-color-gray-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					Cool Grey
				</p>
				<p class="color-details">
					#3f4c4b
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	<h2>{{component}}</h2>

	<p class="guide-titles">Illustration</p>
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-plum-1 color-display-styling"></div>
				<div class="row bg-color-plum-2 color-display-styling"></div>
				<div class="row bg-color-plum-3 color-display-styling"></div>
				<div class="row bg-color-plum-4 color-display-styling"></div>
				<div class="row bg-color-plum-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-plum-6 color-display-styling"></div>
				<div class="row bg-color-plum-7 color-display-styling"></div>
				<div class="row bg-color-plum-8 color-display-styling"></div>
				<div class="row bg-color-plum-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					plum
				</p>
				<p class="color-details">
					#995053
				</p>
			</div>
		</div>
	</div>

	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-yellow-1 color-display-styling"></div>
				<div class="row bg-color-yellow-2 color-display-styling"></div>
				<div class="row bg-color-yellow-3 color-display-styling"></div>
				<div class="row bg-color-yellow-4 color-display-styling"></div>
				<div class="row bg-color-yellow-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-yellow-6 color-display-styling"></div>
				<div class="row bg-color-yellow-7 color-display-styling"></div>
				<div class="row bg-color-yellow-8 color-display-styling"></div>
				<div class="row bg-color-yellow-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					yellow
				</p>
				<p class="color-details">
					#ffd41e
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-lake-1 color-display-styling"></div>
				<div class="row bg-color-lake-2 color-display-styling"></div>
				<div class="row bg-color-lake-3 color-display-styling"></div>
				<div class="row bg-color-lake-4 color-display-styling"></div>
				<div class="row bg-color-lake-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-lake-6 color-display-styling"></div>
				<div class="row bg-color-lake-7 color-display-styling"></div>
				<div class="row bg-color-lake-8 color-display-styling"></div>
				<div class="row bg-color-lake-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					lake
				</p>
				<p class="color-details">
					#66aecc
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-rouge-1 color-display-styling"></div>
				<div class="row bg-color-rouge-2 color-display-styling"></div>
				<div class="row bg-color-rouge-3 color-display-styling"></div>
				<div class="row bg-color-rouge-4 color-display-styling"></div>
				<div class="row bg-color-rouge-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-rouge-6 color-display-styling"></div>
				<div class="row bg-color-rouge-7 color-display-styling"></div>
				<div class="row bg-color-rouge-8 color-display-styling"></div>
				<div class="row bg-color-rouge-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					rouge
				</p>
				<p class="color-details">
					#f39faf
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-grass-1 color-display-styling"></div>
				<div class="row bg-color-grass-2 color-display-styling"></div>
				<div class="row bg-color-grass-3 color-display-styling"></div>
				<div class="row bg-color-grass-4 color-display-styling"></div>
				<div class="row bg-color-grass-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-grass-6 color-display-styling"></div>
				<div class="row bg-color-grass-7 color-display-styling"></div>
				<div class="row bg-color-grass-8 color-display-styling"></div>
				<div class="row bg-color-grass-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					grass
				</p>
				<p class="color-details">
					#6ab547
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-orange-1 color-display-styling"></div>
				<div class="row bg-color-orange-2 color-display-styling"></div>
				<div class="row bg-color-orange-3 color-display-styling"></div>
				<div class="row bg-color-orange-4 color-display-styling"></div>
				<div class="row bg-color-orange-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-orange-6 color-display-styling"></div>
				<div class="row bg-color-orange-7 color-display-styling"></div>
				<div class="row bg-color-orange-8 color-display-styling"></div>
				<div class="row bg-color-orange-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					orange
				</p>
				<p class="color-details">
					#ff7353
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-turq-1 color-display-styling"></div>
				<div class="row bg-color-turq-2 color-display-styling"></div>
				<div class="row bg-color-turq-3 color-display-styling"></div>
				<div class="row bg-color-turq-4 color-display-styling"></div>
				<div class="row bg-color-turq-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-turq-6 color-display-styling"></div>
				<div class="row bg-color-turq-7 color-display-styling"></div>
				<div class="row bg-color-turq-8 color-display-styling"></div>
				<div class="row bg-color-turq-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					turquoise
				</p>
				<p class="color-details">
					#00d1b8
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-stachio-1 color-display-styling"></div>
				<div class="row bg-color-stachio-2 color-display-styling"></div>
				<div class="row bg-color-stachio-3 color-display-styling"></div>
				<div class="row bg-color-stachio-4 color-display-styling"></div>
				<div class="row bg-color-stachio-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-stachio-6 color-display-styling"></div>
				<div class="row bg-color-stachio-7 color-display-styling"></div>
				<div class="row bg-color-stachio-8 color-display-styling"></div>
				<div class="row bg-color-stachio-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					pistachio
				</p>
				<p class="color-details">
					#d0e243
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="row">
			<div class='col-xs-6'>
				<div class="row bg-color-brown-1 color-display-styling"></div>
				<div class="row bg-color-brown-2 color-display-styling"></div>
				<div class="row bg-color-brown-3 color-display-styling"></div>
				<div class="row bg-color-brown-4 color-display-styling"></div>
				<div class="row bg-color-brown-5 color-display-styling" style="height: 50px;"></div>
				<div class="row bg-color-brown-6 color-display-styling"></div>
				<div class="row bg-color-brown-7 color-display-styling"></div>
				<div class="row bg-color-brown-8 color-display-styling"></div>
				<div class="row bg-color-brown-9 color-display-styling"></div>
			</div>
			<div class='col-xs-6 bg-color-descriptor'>
				<p class="color-titles">
					brown
				</p>
				<p class="color-details">
					#664e4e
				</p>
			</div>
		</div>
	</div>
</div>
