---
component: Footers
---


<h2 id="{{component}}">{{component}}</h2>

<div class="footer">
	<div class='row'>
	 <div class='col-md-3'>
	 		<!-- LOGO -->
	 		<div class='row footer-logo'>
	 			<img src="images/logo-kiddom@2x.png">
	 		</div>
	 		<div class='row footer-socialmedia'>

	 		</div>
	 </div>
	 <div class='col-md-3'>
	 		<div class="footer-list">
	 			<p class="guide-titles">Company</p>
	 			<ul>
		 			<li><a href="#">About</a></li>
		 			<li><a href="#">Contact</a></li>
		 			<li><a href="#">Terms of use</a></li>
		 			<li><a href="#">Privacy</a></li>
		 		</ul>
		 	</div>
	 </div>
	 <div class='col-md-3'>
	 		<div class="footer-list">
	 			<p class="guide-titles">Resources</p>
	 			<ul>
		 			<li><a href="#">Teacher Voice Blog</a></li>
		 			<li><a href="#">Standards-Based Grading</a></li>
		 			<li><a href="#">Teaching Methodologies</a></li>
		 		</ul>
		 	</div>
	 </div>
	 <div class='col-md-3'>
	 		<div class="footer-list">
	 			<p class="guide-titles">Support</p>
		 		<ul>
		 			<li><a href="#">Teacher Guides</a></li>
		 			<li><a href="#">Help Desk</a></li>
		 		</ul>
	 		</div>
	 </div>
	</div>
	<div class="row copyright">
	<!-- <<FLAG>> Seems more correct for this to be below all other content in the footer than just the left column-->
	©2015 Kiddom, Inc

	</div>
</div>

