---
component: Grids and Breakpoints
---


<h2>{{component}}</h2>

<div class="row row-buffer">
	<h1>Grids and Breakpoints</h1>
</div>
<div class="row">
	<div class="grid1440">

	</div>
	<div class="grid976">

	</div>
	<div class="grid760">

	</div>

</div>
