---
component: Headers
---


<h2>{{component}}</h2>

<div id="headers" class="row row-buffer">
	<h1>Headers</h1>
</div>
<div class="row">
	<nav class="nav navbar-default desktop-nav">
		<div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Kiddom</a>
	    </div>
	    <div class="nav navbar-right">
		    <ul class="nav navbar-nav">
		      <li><a href="#" class="teacher-link">Teacher</a></li>
		      <li><a href="#" class="student-link">Student</a></li>
		      <li><a href="#" class="admin-link">Admin</a></li>
		      <li><a class="btn btn-pill-login">Log in</a></li>
		      <li><button class="btn btn-pill-register">Sign Up</button></li>
		    </div>
	  </div>
	</nav>

	</div>

</div>
