---
component: Headers
---


<h2>{{component}}</h2>

<div class="row row-buffer">
	<h1>Headers</h1>
</div>
<div class="row">
	<div class="header1440">
		<span class="theImage"><span style="height: 40px; width:60px; background-color: #F0F0F0;"></span></span>
		<span class="head-teacher-link"><a href="" class="teacher-link">Teacher</a></span>
		<span class="head-student-link"><a href="" class="student-link">Student</a></span>
		<span class="head-admin-link"><a href="" class="admin-link">Admin</a></span>
		<span class="pull-right" id="notloggedin">
			<button class="btn btn-pill-login">Log in</button>
			<button class="btn btn-pill-register">Sign Up</button>
		</span>
	</div>
	<div class="header976">
		<span class="theImage"></span>
		<span class="header-links">
			<span class="head-teacher-link"></span>
			<span class="head-student-link"></span>
			<span class="head-admin-link"></span>
		</span>
		<span class="pull-right" id="notloggedin">
			<button class="btn btn-pill-login">Log in</button>
			<button class="btn btn-pill-register">Sign Up</button>
		</span>
	</div>

</div>
