<header id="appheader" class="appheader">
  <div class="appheader-inner">
    {{#if backbutton}}
      <a href="/work.html" id="brand" class=""><i class="glyph-back ion-ios-arrow-thin-left"></i></a>
    {{else}}
    <div class="myinfo">
      <p class="name"><a id="brand" href="/" ontouchstart="">Joshua Pekera</a></p>
      <p class="title">{{title}}</p>
    </div>
    {{/if}}
    <div id="hamburgericon" class="menu-button x nss"><div class="navicon"></div></div>
    <!-- <div id="hamburgerbutton" class="hamburger-container"></div> -->
  </div>
</header>
