---
component: Modules
---


<h2>{{component}}</h2>

<div class="row row-buffer" id='modules'>
	<p class="guide-titles">Small Module / Desktop / 80px tall</p>
	<div class="module-small outlining-modules">
		<div class="module-content">
			And the content goes in here
		</div>
	</div>
</div>

<!-- <<TODO>> Not happy with this one at all, needs vertical align too -->
<div class="row row-buffer">
	<p class="guide-titles">Flex height module / Desktop / Min-height: 275px</p>
	<div class="module-flex-height">
		<div class="col-md-1"> </div>
		<div class="module-content">
			<h3>Direct Feedback</h3>
			<hr class="default-hr">
			Iorem ipsum yadda yadda yadda yadda yadda yadda yadda Iorem ipsum yadda yadda yadda yadda yadda yadda yadda Iorem ipsum yadda yadda yadda yadda yadda yadda yadda Iorem ipsum yadda yadda yadda yadda yadda yadda yadda Iorem ipsum yadda yadda yadda yadda yadda yadda yadda Iorem ipsum yadda yadda yadda yadda yadda yadda yadda Iorem ipsum yadda yadda yadda yadda yadda yadda yadda Iorem ipsum yadda
		</div>
		<div class="module-content">
			<h3>Custom Success Criteria</h3>
			<hr class="default-hr">
			Iorem ipsum yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda Iorem ipsum yadda yadda yadda yadda yadda yadda yadda
		</div>
		<div class="module-content">
			<h3>Custom Success Criteria</h3>
			<hr class="default-hr">
			Iorem ipsum yadda yadda yadda yadda yadda yadda yadda
		</div>
	</div>

</div>
<div class="row row-buffer">
	<p class="guide-titles">Section Heading Module / Desktop / 466px tall</p>
	<div class="module-section-head">
		<div class="module-content">
			Test
		</div>
	</div>

</div>
<div class="row row-buffer">
	<p class="guide-titles">Large Module (Mirror specs for left-text version) / Desktop / 670px</p>
	<div class="module-large withOverflowingBackground">
		<div class="module-content">
			Test
		</div>
	</div>

</div>


