---
component: Modules
---


<h2>{{component}}</h2>



<div class="row">
	<div class="col-md-12">
	<h2>{{component}}</h2>
		<h1>Modules</h1><hr>
	</div>
</div>

<div class="row row-buffer" id='modules'>
	<div class="col-md-12">
		<p class="guide-titles">Small Module / Desktop / 80px tall</p>
	</div>
	<div class="col-md-12 module-small" style="background-color: grey;">
		<div class="module-content" style="background-color: rgba(255,255,255, 0.7);">
			And the content goes in here
		</div>
	</div>
</div>

<!-- <<TODO>> Not happy with this one at all, needs vertical align too -->
<div class="row row-buffer">
	<div class="col-md-12">
		<p class="guide-titles">Flex height module / Desktop / Min-height: 275px</p>
		<div class="row">
			<div class="col-md-12 module-flex-height" style="background-color: grey;">
				<div class="row">
					<div class="module-content-1" style="background-color: rgba(255,255,255, 0.7);">
						<div class="module-flex-media">
							<img src="/images/circle-yellow.png" >
						</div>
						<h3>Direct Feedback</h3>
						<hr class="default-hr">
						Keep students engaged by answering questions and sharing feedback when they need it.
					</div>
					<div class="module-content-2" style="background-color: rgba(255,255,255, 0.7);">
						<h3>Custom Success Criteria</h3>
						<hr class="default-hr">
						Rubrics give students a clear understanding of how and what they should be working on.
					</div>
					<div class="module-content-3" style="background-color: rgba(255,255,255, 0.7);">
						<h3>Custom Success Criteria</h3>
						<hr class="default-hr">
						Import your student rosters with one-click import from Google, Clever, or Excel.
					</div>
				</div>
				<div class="row row-buffer ">
					<div class="module-content-1" style="background-color: rgba(255,255,255, 0.7);">
						<h3>Direct Feedback</h3>
						<hr class="default-hr">
						Keep students engaged by answering questions and sharing feedback when they need it.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row row-buffer">
	<div class="col-md-12">
		<p class="guide-titles">Section Heading Module / Desktop / 466px tall</p>
	</div>
	<div class="col-md-12 module-section-head">
		<div class="module-content">
			<h4>Empower your classroom</h4>
			<hr class="hr-default"/>
			<p>Explore engaging educational resourses, share and assign to your students and get meaningful reports to make informed decisions — all for free.</p>
			<button class="btn-pill-flex2-white">Find out more</button>
		</div>
	</div>
</div>
<!--Original large modules with overflows, contained entirely within column but quite dodgy
<div class="row row-buffer">
	<div class="col-md-12">
		<p class="guide-titles">Large Module (Mirror specs for left-text version) / Desktop / 670px</p>
		<div class="module-large withOverflowingBackground">
			<div class="module-content">
				Test
			</div>
		</div>
	</div>
</div>

<div class="row row-buffer">
	<div class="col-md-12">
		<p class="guide-titles">Large Module (mirrored specs) / Desktop / 670px</p>
		<div class="module-large withOverflowingBackground-right">
			<div class="module-content">
				Test
			</div>
		</div>
	</div>
</div>
-->
<div class="row row-buffer">
	<div class="col-md-12">
		<p class="guide-titles">Large Module / Desktop / 670px</p>
		<div class="row module-lrg-right">

			<div class="module-content" style="background-color: rgba(255,255,255, 0.7);">
				Test
			</div>
		</div>
	</div>
</div>
<div class="row row-buffer">
	<div class="col-md-12">
		<p class="guide-titles">Large Module / Desktop / 670px</p>
		<div class="row module-lrg-left" style="background-color: rgba(255,255,255, 0.7);">

			<div class="module-content">
				Test
			</div>
		</div>
	</div>
</div>
