<div id="appnav" class="appnav">
	<nav id="menu" class="menu">
		<ul id="menunav" class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="work.html">Work</a></li>
			<!-- <li><a href="ideas.html">Ideas</a></li> -->
		</ul>
	</nav>
	<footer class="appnav-footer">
		{{> social }}
	</footer>
</div>
