<ul class="social">
	<li><a class="facebook" href="https://facebook.com/joshuapekera" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
	<li><a class="twitter" href="https://twitter.com/joshuapekera" target="_blank"><i class="fa fa-twitter"></i></a></li>
	<li><a class="linkedin" href="https://linkedin.com/in/joshuapekera" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
	<li><a class="dribbble" href="https://dribbble.com/joshuapekera" target="_blank"><i class="fa fa-dribbble"></i></a></li>
	<li><a class="mail" href="mailto:joshuapekera@me.com?subject=Joshua, Lets chat!"><i class="fa fa-envelope"></i></a></li>
</ul>
