---
component: Typography
---

<<<<<<< HEAD

<h2>{{component}}</h2>
<div>
<p class="title-line">
Istok Web
</p>
<p class="subtitle-line">
ABCDEFGHIJKLMNOPQRSTUVWXYZ</br>
abcdefghijklmnopqrstuvwxyz</br>
0123456789 (!@#$%&.,?:;)
</p>
</div>
<div>
<h1>Test1  <span style="font-size: 42px;">Need1</span></h1>
<h2>Test2  <span style="font-size: 28px;">Need1</span></h2>
<h3>Test3  <span style="font-size: 24px;">Need1</span></h3>
<h4>Test4  <span style="font-size: 24px;">Need1</span></h4>
<h5>Test5  <span style="font-size: 18px;">Need1</span></h5>
</div>
<div>
<p class="large"> Large <span style="font-size: 20px;">Need</span></p>
<p class="medium"> Medium <span style="font-size: 20px;">Need</span></p>
<p class="small"> Small <span style="font-size: 20px;">Need</span></p>
<p class="tiny"> Tiny <span style="font-size: 20px;">Need</span></p>
</div>
=======
<div class="row">
	<div class="col-md-12">
	<h2>{{component}}</h2>
		<h1>Typography</h1><hr>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<p class="title-line">
			Istok Web
		</p>
		<p class="typography-alphabet">
			ABCDEFGHIJKLMNOPQRSTUVWXYZ</br>
			abcdefghijklmnopqrstuvwxyz</br>
			0123456789 (!@#$%&.,?:;)
		</p>
	</div>
</div>
<div class='row row-buffer'>
<!--
	<div class='col-md-6'>
		<dl class="header-list dl-horizontal">
		<dt>H1</dt>
			<dd><h1>Test1</h1>
				<p style="typography-descriptor">Ned</p>
				</dd></dd>
		<dt>H2</dt>
			<dd><h2>Test2</h2>
				<p style="typography-descriptor">Ned</p>
				</dd></dd>
		<dt>H3</dt>
			<dd><h3>Test3</h3>
				<p style="typography-descriptor">Ned</p>
				</dd></dd>
		<dt>H4</dt>
			<dd><h4>Test4</h4>
				<p style="typography-descriptor">Ned</p>
				</dd></dd>
		<dt>H5</dt>
			<dd><h5>Test5 </h5>
				<p style="typography-descriptor">Ned</p>
				</dd></dd>
		</dl>
	</div>
	<div class='col-md-6'>

	<dl class="header-list dl-horizontal">
		<dt>P.LARGE</dt>
			<dd><p class="large"> Large</p>
				<span style="typography-descriptor">Need</span>
			</dd>
		<dt>P.MEDIUM</dt>
			<dd>
				<p class="medium"> Medium <span style="typography-descriptor">Need</span>
				</p>

				</dd>
		<dt>P.SMALL</dt>
			<dd>
				<p class="small"> Small </p>
				<p style="typography-descriptor">Need</p></dd>
		<dt>P.TINY</dt>
			<dd>
				<p class="tiny"> Tiny </p>
				<p style="typography-descriptor">Need</p></dd>

	</div>	-->
	<div class='col-md-6 typography'>
		<div class='row'>
			<div class='col-md-1 guide-titles  guide-typography'>
			 H1
			</div>
			<div class='col-md-11'>
				<h1>Huge headline</h1>
				<p class="typography-descriptor">
					42PT / Letter-Spacing: -0.3px; / line-height: 1.143
				</p>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-1 guide-titles guide-typography'>
			 H2
			</div>
			<div class='col-md-11'>
				<h2>Large headline</h2>
				<p class="typography-descriptor">
				28PT / Letter-spacing: -0.3px; line-height: 1.125
				</p>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-1 guide-titles guide-typography'>
			 H3
			</div>
			<div class='col-md-11'>
				<h3>Medium headline</h3>
				<p class="typography-descriptor">
				24pt / letter-spacing: -0.3px; / line-height: 1.143
				</p>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-1 guide-titles guide-typography'>
			 H4
			</div>
			<div class='col-md-11'>
				<h4>Small headline</h4>
				<p class="typography-descriptor">
				20pt / letter-spacing: -0.3px; / line-height: 1.3
				</p>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-1 guide-titles guide-typography'>
				H5
			</div>
			<div class='col-md-11'>
				<h5>Tiny headline</h5>
				<p class="typography-descriptor">
				18pt / line-height: 1.111
				</p>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='row'>
			<div class='col-md-2 guide-titles guide-typography'>
					 P.LARGE
			</div>
			<div class='col-md-10'>
				<p class="large paragraph-display">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
				</p>
				<p class="typography-descriptor">
					20PT / line-height: 1.5
				</p>
			</div>
		</div>
		<div class='row'>
				<div class='col-md-2 guide-titles guide-typography'>
				 P.MEDIUM
				</div>
				<div class='col-md-10'>
					<p class="medium paragraph-display">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
					<p class="typography-descriptor">
					18pt / line-height: 1.333
					</p>
				</div>
		</div>
		<div class='row'>
			<div class='col-md-2 guide-titles guide-typography'>
			 P.SMALL
			</div>
			<div class='col-md-10'>
				<p class="small paragraph-display">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
				<p class="typography-descriptor">
				16pt / line-height: 1.375
				</p>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-2 guide-titles guide-typography'>
				 P.TINY
			</div>
			<div class='col-md-10'>
				<p class="tiny paragraph-display">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
				<p class="typography-descriptor">
				14pt / line-height: 1.357
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
			<p class="guide-titles">Usage Examples</p>
	</div>
</div>


<div class='row row-buffer'>
	<div class='col-md-6 typography'>
		<h1>Huge headlines are easy to read and to the point</h1>
		<hr class="default-hr">
		<p class='large'>
			If you really want to know about the future, don't ask a technologist, a scientist, a physicist. No! Don't ask somebody who's writing code. No, if you want to know what society's going to be like in 20 years, ask a kindergarten teacher.
		</p>
	</div>
	<div class='col-md-4 col-md-offset-2'>
		<h2>This is a large headline that wraps on two lines</h2>
		<hr class="default-hr">
		<p class='large'>
			I would be most content if children grew up to be the kind of people who think that decorating consists mostly of building up enough bookshelves.
		</p>
	</div>
</div>
<div class='row row-buffer'>
	<div class='col-md-4'>
		<h3>The medium headline is probably used most often</h3>
		<hr class="default-hr">
		<p class='medium'>
			A cross-eyed teacher can keep twice the number of children in order than any other, because the pupils do not know who she's looking at.
		</p>
	</div>
	<div class='col-md-4 col-md-offset-1'>
		<h4>Small headlines are best used with a succinct message</h4>
		<hr class="default-hr">
		<p class='small'>
			The work can wait while you show the child the rainbow, but the rainbow won't wait while you do the work.
		</p>
	</div>
	<div class='col-md-2 col-md-offset-1'>
		<p><h5>A tiny headline is used most often in interfaces</h5></p>
		<p class="tiny"><em>Italics variation</em></p>
		<hr class="default-hr">
		<p class='tiny'>
			A teacher's job is to take a bunch of live wires and see that they are well-grounded.
		</p>
	</div>
</div>

>>>>>>> padraig-buttons
